.list-full-width {
  flex-wrap: nowrap;


  .nav-link {
    color: var(--bs-gray-500);
    border-bottom: 4px solid var(--bs-gray-500);
    padding: 0 3rem rem(16);
    margin-bottom: 1.2rem;
    &.active {
      color: var(--bs-purple);
      border-color: var(--bs-purple);
    }
  }
}

.step-section {

  .accordion-button::after {
    background-image: url(../../../dist/images/arrow-down.png);
  }
  .accordion-button:not(.collapsed)::after {
    background-image: url(../../../dist/images/arrow-up.png);
  }
}