.list-full-width {
  flex-wrap: nowrap;


  .nav-link {
    color: var(--bs-secondary);
    opacity: .75;
    border-bottom: 4px solid var(--bs-secondary);
    padding: 0 3rem rem(16);
    margin-bottom: 1.2rem;
    &.active {
      opacity: 1;
      font-weight: 800 !important;
      color: var(--bs-purple);
      border-color: var(--bs-purple);
    }
  }
}

.step-section {

  .accordion-button::after {
    background-image: url(../../../dist/images/arrow-down.png);
  }
  .accordion-button:not(.collapsed)::after {
    background-image: url(../../../dist/images/arrow-up.png);
  }
}

.incDecNum{
  button{
    @extend .purple-bg-light;
  }
  button:last-child{
  @extend .d-none;
  }
  button.numInce{
    width: 1rem;
    height: 1.2rem;
    clip-path: polygon(59% 53%, 0 0, 0 100%);
    background-color: #6E72EE;
  }
  button.numDec{
    clip-path: polygon(46% 51%, 100% 0, 100% 100%);
    background-color: #6E72EE;
    width: 1rem;
    height: 1.2rem;
  }
  input, input:focus{
    @extend .bg-transparent;
  }
}
.previewSlides {
  .carousel-item{
    .nav-link.active{
      @extend .btn-info,.text-white;
    }
    .nav-link.active:focus{
      @extend .text-white;
    }
  }
}
.bootstrap-datetimepicker-widget button{
  @extend .btn-info;
}
.input-group-append.input-group-addon{
  z-index: 9;
}  

@media (max-width: 767px) {
  .carousel-inner .carousel-item > div {
      display: none;
  }
  .carousel-inner .carousel-item > div:first-child {
      display: block;
  }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex;
}

/* medium and up screens for preview slide-out tabs slider*/
@media (min-width: 768px) {
  
  .carousel-inner .carousel-item-end.active,
  .carousel-inner .carousel-item-next {
    transform: translateX(25%);
  }
  
  .carousel-inner .carousel-item-start.active, 
  .carousel-inner .carousel-item-prev {
    transform: translateX(-25%);
  }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start { 
transform: translateX(0%);
}
