img {
  max-width: 100%;
}

.count {
  padding: 0 6px;
  font-weight: 500;
  font-size: 15px;
  line-height: 30px;
  text-align: center;
  color: #4E4E5C;
  border-radius: 50px;
  min-width: 40px;
  display: inline-block;
}

.count-grey {
  background: #D8DDDF;
}

.nav-circluar {
  border-bottom: none;
  .nav-link {
    border-radius: 50px;

    &.active {
      background: linear-gradient(224.01deg, #6E72EE -5.3%, #595DDC 100%);
      color: #fff;
      
    }

    &:hover {
      border-color: transparent;
    }
  }
}

.letter-avatar {
  font-size: 30px;
  line-height: 16px;
  letter-spacing: 0.1px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: #fff;
  background: #4E4E5C;
  text-transform: uppercase;
  margin: 0;
}

.notification-dot {
  top: 0;
  right: 24px;
  width: 8px;
  height: 8px;
  border-radius: 15px;
  background: #E73B18;
  position: absolute;
}

.vertical-scroll {
  overflow-y: auto;
  height: 590px;
}

.grey-bg {
  background-color: var(--bs-gray-light);
}

.purple-bg {
  background: #6741DF;
}

.green-bg {
  background: #00BA70;
}

.white-bg {
  background: var(--bs-white);
}

.text-grey {
  color: #2E2E36;
}

.text-red {
  color: #E73B18;
}

.text-blue {
  color: #3B95CD;
}

.text-purple {
  color: #6741DF;
}

.text-green {
  color: #00BA70;
}

.progress-bar-red {
  background: #E73B18;
}

.progress-bar-grey {
  background: #2E2E36;
}

.text-opacity-70 {
  opacity: 0.7;
}

.text-xl {
  font-weight: 400;
  font-size: 8rem;
  line-height: 0.8;
  letter-spacing: 0.08em;
}

.count-notification {
  background: linear-gradient(144.76deg, #E73B18 9.17%, #E71894 92.89%);
  color: #fff;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  font-size: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  right: -16px;
  top: 0;
}

.small-tag {
  background: #3B95CD;
  color: #fff;
  border-radius: 7px;
  padding: 0 7px;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: -0.05px;
  display: block;
  max-width: 80px;
}