.table {
  td {
    vertical-align: middle;
  }
}

.nav-link {

  &.active {
    a {
      background: var(--bs-gray-light);
      border-top-left-radius: 35px;
      border-bottom-left-radius: 35px;
      box-shadow: inset 10px 3px 12px rgba(0, 0, 0, 0.1);
      color: #6E72EE;
    }
  }
}