.no-back-image {
    background-image: none !important;
}


.account-setting-section {
    @extend .SOP-model;

    .no-back-image {
        @extend .no-back-image;
        width: 40px;

        appearance: textfield;
        -moz-appearance: textfield;

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    }
}

.paymentcard_table {
    @extend .entitytable;

    table {
        tr:first-child {
            border-top: 0px transparent !important;

            td:first-child {
                border-top-left-radius: 6px !important;
            }

            td:last-child {
                border-top-right-radius: 6px !important;
            }
        }

        tr{
            td:nth-child(1),
            td:nth-child(3){
                min-width: 140px;
            }

            
            td:nth-child(2){
                min-width: 160px;
            }
            td:last-child{
                width: 100px;
            }
        }

        tr:last-child {
            & td:first-child {
                border-bottom-left-radius: 6px;
            }

            & td:last-child {
                border-bottom-right-radius: 6px;
            }
        }

        .form-check-label {
            text-transform: none !important;
        }


    }

    .icon-new-edit,
    .icon-save-purple,
    .icon-new-delete {
        width: 1.2rem;
        height: 1.2rem;
    }

    .item-name {
        transition: all 0.5s ease-in-out;

        &[contenteditable=true] {
            padding: 2px;
            border: 1px solid #F3F5F8;
            background: #FFF;
            box-shadow: 0 4px 24px 0 rgba(0, 0, 0, 0.05) inset;
            color: #565D67;
            font-size: 12px;
            letter-spacing: -0.24px;
        }
    }
}

.payment-card-header {
    a {
        color: var(--bs-filejet-purple-indigo);
    }
}

.notification-section {
    padding: 0.9rem;
    color: var(--bs-nw-gray-600);
}