.subscription-body::after{
    content: "NOT AN INVOICE";
    @extend .font-weight-700,.position-absolute,.translate-middle;
    font-size: 4em;
    left: 25%;
    top: 55%;
    opacity: .15;
    letter-spacing:4px;
    transform: rotate(-45deg) !important;
}