.subscription-body {
    .table-parent::after {
        content: "PREVIEW";
        @extend .font-weight-700, .position-absolute, .top-50, .start-50, .translate-middle;
        font-size: 4em;
        opacity: .15;
        letter-spacing: 4px;
        rotate: -45deg;
        transform-origin: 0 0;
    }
}

.billing-dashboard {
    @extend .entityDetails-dashboard;

    .sidebar .menu-link .nav-link.active {
        background: linear-gradient(#DFDFDF99, #DFDFDF99), #FAFAFA !important;

        a::after {
            background-color: #DFDFDF99 !important;
        }
    }

    .billingstablist {
        @extend .entitydetailstablist
    }

    .billingTabsContent {
        @extend .entityTabsContent;
    }

    .billingTableCard {
        @extend .entityDetailTableCard;

        .icon-change:hover {
            background-image: url("../../../../dist/images/icons/change-icon-green.svg");
        }

        .subsTable .dataTables_wrapper {
            .dataTable tr {
                min-height: 0;
                transition: background-color 0.5s ease-in-out, padding 0.5s ease-in-out;

                .dt-control {
                    color: transparent;
                    width: 1rem;
                    height: 0.85rem;
                    border: none;
                    background-color: transparent;
                    background-image: url("../../../../dist/images/icons/right-angle-table.svg");
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: contain;
                    transition: transform 0.2s ease-in-out;
                    cursor: pointer;

                    &.no-control {
                        visibility: hidden;
                        pointer-events: none;
                        cursor: none;
                    }
                }

                &.expanded-row {
                    background-color: #5B5559 !important;
                    box-shadow: inset 0 -1.5px 0 rgba(0, 0, 0, 0.3) !important;
                    transition: background-color 0.5s ease-in-out;

                    td {
                        color: white !important;

                        a {
                            color: white !important;
                        }
                    }

                    .dt-control {
                        filter: contrast(0) brightness(2);
                        transform: rotate(90deg);
                    }

                    .icon-entity-edit,
                    .icon-error,
                    .icon-download-dark,
                    .icon-eye {
                        filter: contrast(0) brightness(2);
                    }
                }

                &.expanded-content {
                    td {
                        &:first-child {
                            border-left: 2px solid #5B5559;
                        }

                        &:last-child {
                            border-right: 2px solid #5B5559;
                        }
                    }

                    &.last-expanded-content {
                        box-shadow: inset 0 -2px #5B5559;
                    }
                }
            }

            tr {

                th:first-child,
                td:first-child {
                    max-width: 1rem !important;
                }

                th:nth-child(2) {
                    max-width: 130px !important;
                }

                th:nth-child(3),
                th:nth-child(7) {
                    min-width: 150px;
                    max-width: 300px !important;
                }

                th:nth-child(4) {
                    min-width: 170px !important;
                }

                th:nth-child(5),
                th:nth-child(6) {
                    min-width: 60px;
                    width: 1%;
                    white-space: nowrap;
                }
            }

            th:last-child,
            td:last-child {
                min-width: 75px;
                width: 75px !important;
            }
        }
    }

    .paymentTable .dataTables_wrapper {
        tr {

            th:nth-child(1),
            th:nth-child(2),
            th:nth-child(4) {
                min-width: 150px;
            }

            th:nth-child(3) {
                min-width: 80px !important;
                width: 80px !important;
            }

            th:last-child {
                width: 50px !important;
            }
        }
    }

    .subsTable,
    .paymentTable {
        .dataTables_wrapper {

            th,
            td {

                &:nth-child(3),
                &:nth-child(4),
                &:nth-child(7) {
                    @extend .text-break;
                }
            }
        }
    }
}


.subscription-body.no-bg {
    .table-parent::after {
        display: none !important;
    }
}

.form-check-input[type=checkbox]:indeterminate {
    background-color: #272727;
}


.badge-text-dark {
    color: #0D2C36 !important;
}

.badge-valid {
    background-color: #A1EABA;

}

.badge-pending {
    background-color: #FCA86D;
}

.badge-expired {
    background-color: #F68B82;
}

.form-select:has(option[value=""]:checked) {
    color: var(--bs-filejet-medium-gray-opacity-50);
}