.subscription-body::after{
    content: "NOT AN INVOICE";
    @extend .font-weight-700,.position-absolute,.top-50,.translate-middle,.opacity-25;
    font-size: 4em;
    left: 30%;
    transform: rotate(-45deg) !important;
}