.users_tablist {
    @extend .registeredAgent_tablist;
}

.usersTableCard {
    @extend .groupsTableCard;

    .usersListingTable {
        .dataTables_wrapper .dataTable {

            th,
            td {

                &:first-child,
                &:nth-child(3),
                &:nth-child(4) {
                    min-width: 150px !important;
                }


                &:nth-child(2) {
                    min-width: 200px !important;
                }

                &:nth-child(5),
                &:nth-child(6),
                &:nth-child(7) {
                    min-width: 60px !important;
                }
            }
        }
    }

    .rolesListingTable {
        .dataTables_wrapper .dataTable {

            th,
            td {

                &:first-child {
                    min-width: 150px !important;
                }

                &:last-child {
                    max-width: 70px !important;
                    width: 70px !important;
                }
            }
        }
    }
}

.green-checkbox[type=checkbox]:checked,
.SOP-model .green-checkbox[type=checkbox]:checked {
    background-color: #72E097;
    border-color: #215233 !important;
    background-image: url("../../../../dist/images/icons/light-green-check.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}