.reporting-dashboard {
    @extend .entityDetails-dashboard;

    .sidebar .menu-link .nav-link.active {
        background: linear-gradient(#DFDFDF99, #DFDFDF99), #FAFAFA !important;

        a::after {
            background-color: #DFDFDF99 !important;
        }
    }
}

.reportNav {
    gap: 1.5rem;

    &> :first-child {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.report-card {

    max-width: 350px;
    min-height: 200px;

    --bs-card-color: #3E484A;

    .card-title {
        margin: 0;
        font-size: 1rem;
    }

    .card-text {
        font-size: rem(12);
    }

    .card-subtitle {
        font-size: rem(14);
    }
}

.badge-shared {
    border: 1px solid #F36458;
    background-color: #FCD8D5;
}

.badge-personal {
    border: 1px solid #4E91FC;
    background-color: #D2E3FE;
}

.badge-system {
    border: 1px solid #CD4EFC;
    background-color: #F2D3FE;
}

.btn-icon-white:hover {
    .icon {
        filter: contrast(0) brightness(2);
    }
}