.reporting-dashboard {
    @extend .entityDetails-dashboard;

    .sidebar .menu-link .nav-link.active {
        background: linear-gradient(#DFDFDF99, #DFDFDF99), #FAFAFA !important;

        a::after {
            background-color: #DFDFDF99 !important;
        }
    }

    .reportSection .border {
        border-color: var(--bs-border-color-translucent) !important;
    }

    .filter-option {
        min-height: 38px;

        .grid-list-view {

            .nav-link {
                border-radius: 0 !important;
                opacity: 1 !important;

                &.active {
                    background-color: black !important;

                    .icon {
                        filter: brightness(0%) invert(100%) !important;
                    }
                }

            }
        }
    }

    .report-card-wrapper {
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));

    }

    @media (max-width:500px) {
        .report-card-wrapper {
            grid-template-columns: 1fr;
        }
    }


    .report-card {
        min-height: 200px;

        --bs-card-color: #3E484A;

        .card-title {
            margin: 0;
            font-size: 1rem;
        }

        .card-text {
            font-size: rem(12);
        }

        .card-subtitle {
            font-size: rem(14);
        }
    }

    .new-report-wrapper {
        @extend .report-card-wrapper;
        row-gap: 0;

        &::after,
        &::before {
            content: "";
            visibility: hidden;
            pointer-events: none;
            user-select: none;
        }

        .new-report {
            order: -1;
        }
    }


    .report-filter {
        cursor: pointer;

        .dropdown-item {
            display: flex;
            align-items: center;
            padding: 6px 12px;
            border-bottom: 1px solid var(--bs-border-color);
            justify-content: space-between;
            cursor: pointer;

            &:active,
            &.selected {
                background-color: #FFF2ED !important;
            }

            &.selected {
                .icon {
                    @extend .icon-option-selected;
                    width: 1.5rem !important;
                    height: 1.5rem !important;
                }
            }
        }
    }

    .report-filter-value {
        min-height: 38px;

        .datepicker {
            background-position-x: 100% !important;
        }
    }

    .reportView {
        border-radius: 0.75rem;
    }

    .report-list-content {
        margin: 0 !important;
    }
}

.charts_wrapper {

    .chart-box {
        position: relative;
        width: 100%;
    }

    .chart-header {

        .field-select {
            width: 120px;
        }
    }


    .chart-buttons {

        width: max-content;


        .chart-btn {
            min-height: 38px;
            border: none;
            background-color: white;
            padding: 5px 10px;
            display: flex;
            align-items: center;
            justify-content: center;

            &.active {
                background-color: black;

                .icon {
                    filter: brightness(0%) invert(100%);
                }
            }
        }
    }

    .form-select.field-select {
        min-height: 38px;
        padding: 0px 10px;
        padding-right: 15px;
        font-size: 12px;
        background-color: transparent;
        border: 1px solid #d2d5da;
        border-radius: 4.5px;
        margin-bottom: 0px;
        box-shadow: none !important;
        color: var(--bs-filejet-medium-gray);
        background-image: url(../../../dist/images/icons/icon-angle-bottom.svg);
        background-size: 10px;
        font-weight: normal;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        cursor: pointer;


        option {
            background-color: white;
            color: var(--bs-filejet-medium-gray);
        }

        &:focus {
            background-color: #ffe2d8;
            color: #000;
            border: 1.5px solid #FF551A;
        }
    }

    .chart-container {
        cursor: pointer;
        font-size: 14px !important;
        font-weight: normal !important;

        &:has(.pie-legend) {

            display: flex;
            align-items: center;
            flex-wrap: wrap;

            .chart {
                width: 40%;
                height: 100%;
            }
        }

        .pie-legend {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 10px;
            align-items: center;
            justify-content: center;
            flex-grow: 1;
        }

        .legend-item {
            display: flex;
            max-height: 1rem;
            align-items: center;
            gap: 5px;
            transition: .2s;
        }

        .legend-item.active {
            font-weight: bold !important;
        }

        .legend-color {
            width: 10px;
            height: 10px;
            border-radius: 50%;
        }
    }
}

.main-dashboard-v2 {
    .filter2-dropdown {
        .filter-select-container {
            @extend .multi-select-container;

            @extend .text-disabled;

            &::after {
                margin-left: auto;
            }

            &[data-selected] {
                @extend .text-black;
            }
        }
    }
}

.reportNav {
    gap: 1.5rem;
}

.badge-shared {
    border: 1px solid #F36458;
    background-color: #FCD8D5;
}

.badge-personal {
    border: 1px solid #4E91FC;
    background-color: #D2E3FE;
}

.badge-system {
    border: 1px solid #CD4EFC;
    background-color: #F2D3FE;
}

.btn-icon-white:hover {
    .icon {
        filter: contrast(0) brightness(2);
    }
}

.drag-item {
    display: flex;
    height: 29px;
    padding: 10px;
    line-height: normal;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    gap: 10px;
    border: 0.5px dashed #FF551A;
    background-color: #FFF2ED;
    user-select: none;
    transition: transform 0.2s ease;

    .handle {
        cursor: grab;
        font-size: 1.5rem;
    }

    &.dragplacehoder {
        color: #8690A0;
        border: 0.5px dashed #3E484A;
        background-color: #F2F3F5;
        box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.10);
    }

    span {
        flex-grow: 1;
    }
}

.drag_container {

    .drag-item {
        .icon-add-chart {
            display: none;
        }
    }

    .drag-item.dragging {
        border-style: solid;
        background-color: #FF551A;
        box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.10);
        color: white;

        .icon-close-dark {
            filter: contrast(0) brightness(2);
        }
    }
}

.suggestion_column {
    .drag-item {
        color: #8690A0;
        border: 0.5px dashed #3E484A;
        background-color: #F2F3F5;

        .handle,
        .icon-close-dark {
            display: none;
        }
    }
}