.reporting-dashboard {
    @extend .entityDetails-dashboard;
}

.reportNav {
    gap: 1.5rem;

    &> :first-child {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.report-card {
    max-width: 250px;
    min-height: 250px;

    --bs-card-color: #3E484A;
    .card-title{
        margin: 0;
        font-size: 1rem;
    }

    .card-text{
        font-size: rem(12);
    }

    .card-subtitle{
        font-size: rem(14);
    }
}

.badge-shared {
    border: 1px solid #F36458;
    background-color: #FCD8D5;
}

.badge-personal {
    border: 1px solid #4E91FC;
    background-color: #D2E3FE;
}

.btn-icon-white:hover {
    .icon {
        filter: contrast(0) brightness(2);
    }
}