.entitydetailsinfo{
    .accordion-button{
        text-transform: uppercase !important;
        color: var(--bs-dark) !important;
    }
        .card-label-text{
            color: #6C6C6C !important;
            font-weight: 700;
        }
        .value-text{
            font-size: 14px;
            line-height: 28px;
        }
}