// variables

$color-gray-900: #272A2E;
$color-gray-opacity: #DFDFDF99;
$color-dark-gray: #262626;
$color-light-gray: #6C6C6C;
$color-medium-gray: #3E484A;
$color-crimson-red: #E73B18;
$font-sora: "Sora", sans-serif;


.icon-entity-edit {
  background-image: url("../../../../dist/images/icons/new-edit-dark.svg");
}

.icon-entity-delete {
  background-image: url("../../../../dist/images/icons/new-delete-dark.svg");
}

.icon-document-gray {
  background-image: url("../../../../dist/images/icons/document-gray.svg");
}

.icon-entity-download {
  background-image: url("../../../../dist/images/icons/download-white-on-black.svg");

  &:hover {
    background-image: url("../../../../dist/images/icons/download-white-on-green.svg");
  }
}


.form-disabled {
  background-image: none !important;
  background-color: $color-medium-gray !important;
  color: #6E7683 !important;
}

.entityDetails-dashboard {

  & * {
    font-family: $font-sora !important;
  }

  .SOP-model,
  .entityTabsContent {
    input[disabled] {
      background-image: none !important;
      background-color: #F3F5F8 !important;
      color: #6E7683 !important;
      cursor: not-allowed !important;
    }

    input[type=radio]:disabled{
      background-image: url("../../../../dist/images/icons/view-checkbox-inactive.svg") !important;
      &:checked{
        background-image: url("../../../../dist/images/icons/view-checkbox-active-disabled.svg") !important;
      }
    }

    input[type=checkbox]:checked {
      background-color: #272727;
      border: 1.5px solid #272727 !important;
      cursor: pointer;
    }

    input[type=checkbox]:disabled:checked{
      background-image: url("../../../../dist/images/icons/radio-check.svg") !important;
    }
  }


  .toggle-content.show {
    opacity: 100% !important;
  }

  .toggle-content {
    opacity: 90% !important;
    transition: all 0.01s ease-in-out;
  }
}


.entityDetails-page {

  max-width: 100% !important;

  .notification {
    border: 2px solid #D8DDDF;
    border-radius: 100% !important;
    height: 100%;

    a {
      width: 32px !important;
      height: 32px !important;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .notification-dot-v2 {
      position: absolute;
      width: 6px;
      height: 6px;
      border-radius: 100%;
      background-color: $color-crimson-red;
      top: 7px;
      right: 8px;
    }
  }

  .main-content {
    .fw-bold {
      letter-spacing: -0.3px !important;
    }
  }

  .entityDetailsEditBtn {
    display: flex;
    gap: 4px;
    font-weight: 400;
    line-height: 16px;
    padding: 5px 6px;
    border-radius: 8px;
    text-transform: capitalize !important;
    color: $color-medium-gray;
    border-color: $color-medium-gray;

    &:hover {
      background-color: transparent;
      color: $color-medium-gray;
    }

    &:focus-visible {
      border-color: $color-medium-gray !important;
      box-shadow: 0 0 0 0.25rem rgba(108, 117, 125, 0.5) !important;
    }

    .icon-entity-edit {
      width: 12px;
      height: 12px;
    }
  }
}

.entitydetails-info-modal {
  .entity-info-container {
    display: flex;
    gap: 10px;

    fieldset {
      flex-grow: 1;
    }
  }
}

.entityDetails-page,
.entityTabsContent {
  padding-inline: calc(0.5rem + 4px) !important;
}

.entitydetailsinfo {
  .accordion-button {
    text-transform: uppercase !important;
    color: var(--bs-dark) !important;
  }

  .card-label-text {
    color: $color-light-gray !important;
    font-weight: 700;
    font-size: 12px;
  }

  .value-text {
    font-size: 14px;
    line-height: 20px;
    color: $color-dark-gray !important;
    font-weight: 600;
    letter-spacing: -0.32px;
  }
}


.entitydetailstablist {
  position: relative;
  gap: rem(8);
  z-index: 100;

  &::after {
    position: absolute;
    content: "";
    top: anchor(91%);
    left: anchor(0%);
    background-color: $color-gray-900;
    width: anchor-size(--tab-anchor inline);
    height: 3px;
    transition: all 0.5s ease-in-out;
    position-anchor: --tab-anchor;
    z-index: 50;
  }

  .nav-link {
    padding-bottom: 12px !important;
    color: var(--bs-nw-gray-600);
    font-size: 12px;

    &[aria-selected="true"] {
      anchor-name: --tab-anchor;
      color: $color-gray-900;
      font-weight: 700;
    }
  }
}

@media (min-width:991.98px) {
  .entitydetailstablist {
    gap: rem(12);

    .nav-link {
      font-size: 12.5px;
    }
  }
}

@media (min-width:1499.98px) {
  .entitydetailstablist {
    gap: rem(20);

    .nav-link {
      font-size: 14px;
    }
  }
}

.entityTabsContent {
  background-color: $color-gray-opacity;
  border-top: 1px solid #D8DDDF;

  & * {
    font-family: $font-sora !important;
  }

  .asofcalender-input,
  .asofcalender-input-2 {
      position: relative;

      .form-label{
        text-transform: capitalize !important;
        font-size: 14px !important;
        font-weight: normal;
        flex-shrink: 0;
        margin: 0;
      }

      .form-control {
        background-image: url("../../../../dist/images/icons/calander-icon-light.svg") !important;
        background-size: 14px !important;
        background-position-x: 92% !important;
        background-repeat: no-repeat !important;
        background-position-y: center !important;
        margin: 0 !important;
        min-height: 0 !important;
        box-shadow: none !important;
        font-weight: normal;
      }
    }

  table,
  .dataTable {
    thead {
      & th:first-child {
        border-top-left-radius: 5px;
      }

      & th:last-child {
        border-top-right-radius: 5px;
      }
    }

    tbody tr:last-child {
      & td:first-child {
        border-bottom-left-radius: 5px;
      }

      & td:last-child {
        border-bottom-right-radius: 5px;
      }
    }

    .badge {
      padding: 8px 10px;
      border-radius: 30px;
      font-size: 10px;
      color: #fff;
      display: inline-block;
    }

    .badge-good {
      background-color: #3AB564;
    }

    .badge-not-good {
      background-color: #BB0F23;
    }

    .badge-inactive {
      background-color: #8690A0;
    }

    .badge-unknown {
      background-color: #1a4d9e;
    }

    .badge-active {
      background-color: #79F4C3;
    }

    .badge-Inactive {
      background-color: #A8B1FF;
    }

    .badge-inprogress {
      background-color: #A8EAFF;
    }
  }

  .export-table-col {
    width: 4.5%;
  }

  .btn-add-owner {
    font-size: 14px;
    line-height: 14px;
    padding: 5px;
  }

  .form-select-container {
    // min-height: 38px !important;
    padding: 0px 10px !important;
    padding-right: 15px !important;
    font-size: 12px !important;
    background-color: transparent;
    border: 1px solid #d2d5da !important;
    border-radius: 4.5px !important;
    margin-bottom: 0px !important;
    box-shadow: none !important;
    color: var(--bs-filejet-medium-gray);
    background-image: url("../../../../dist/images/icons/icon-angle-bottom.svg") !important;
    background-size: 10px !important;
    font-weight: normal !important;
    text-overflow: ellipsis !important;
    overflow: hidden !important;
    white-space: nowrap !important;
    width: 100%;
    cursor: pointer !important;

    &:focus-within {
      border: 2px solid var(--bs-filejet-purple-indigo) !important;
      background-color: #f2f2ff;
    }
  }

  select.form-select:invalid {
    color: var(--bs-filejet-medium-gray-opacity-50);
  }
}

.entityDetailTableCard {
  background-color: white;

  .icon-entity-edit:hover {
    background-image: url("../../../../dist/images/icons/edit-dark.svg");
  }

  .icon-entity-delete:hover {
    background-image: url("../../../../dist/images/icons/delete-red.svg");
  }

  .dataTables_wrapper tbody td {
    font-weight: 400;
    color: var(--bs-black-primary);
    font-size: 12px !important;
    padding: 0.5rem 0.9rem !important;
    line-height: 1.25rem !important;
  }

  .entityDetailRegistrationTable {
    .dataTables_wrapper .dataTable {
      thead {
        th {
          &:first-child {
            width: 200px;
          }

          &:nth-child(3),
          &:nth-child(4),
          &:nth-child(5) {
            width: 100px;
          }
        }
      }
    }
  }

  .entityDetailOpenTaskTable {
    .dataTables_wrapper .dataTable {
      thead {
        th {
          &:first-child {
            width: 200px;
          }

          &:nth-child(3) {
            width: 80px;
          }

          &:nth-child(5) {
            width: 120px;
          }
        }
      }
    }
  }

  .entityDetailOrdersTable {
    .dataTables_wrapper .dataTable {
      thead {
        th {

          &:first-child {
            width: 200px;
          }


          &:nth-child(6) {
            width: 150px;
          }

          &:nth-child(7) {
            width: 100px;
          }
        }
      }
    }
  }

  .entityDetailBusinessTable {
    .badge {
      color: black;
    }

    .dataTables_wrapper .dataTable {
      thead {
        th {
          &:first-child {
            width: 200px;
          }

          &:nth-child(4) {
            width: 100px;
          }

          &:nth-child(5) {
            width: 200px;
          }
        }
      }
    }
  }

  .entityDetailDBAsTable {
    .badge {
      color: black;
    }
  }

  .entityDetailDocumentsTable {

    .dataTable tr {
      min-height: 0;
    }

    .dataTable tr {

      .dt-control,
      .dt-child-control {
        color: transparent;
        width: 1rem;
        height: 1rem;
        border: none;
        background-color: transparent;
        background-image: url("../../../../dist/images/icons/right-angle-table.svg");
        background-repeat: no-repeat;
        background-position: center;
        transition: transform 0.2s ease-in-out;
        cursor: pointer;
      }
    }

    .dataTable tr.expanded-row {

      .dt-control,
      .dt-child-control {
        transform: rotate(90deg);
      }
    }

    .dataTable tr.expanded-content td.doc_indent {
      padding-left: 40px !important;
    }
  }

  .entityDetailDirectorsTable {
    .dataTables_wrapper .dataTable {
      thead {
        th {
          &:first-child {
            width: 50px !important;
          }
        }
      }
    }
  }

  .dataTables_wrapper .row:last-child:has(.dataTables_info) {
    display: none !important;
  }

  .dataTables_wrapper .dataTable thead th:last-child {

    &::after,
    &::before {
      right: 7px !important;
    }
  }
}

.entityDetails-registration-card {
  .row>div {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
}

@media (min-width:1399.98px) {
  .entityDetailTableCard {
    .dataTables_wrapper .dataTables_scroll .dataTables_scrollBody {
      overflow-x: hidden !important;
    }
  }
}

.entityDetails-description-card {
  p {
    color: $color-medium-gray;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -0.3px;
  }

  .icon-entity-edit {
    width: 13px;
    height: 13px;
  }

}

.entityDetails-orders-card,
.entityDetails-opentask-card {

  &.tab-trigger {
    cursor: pointer;
  }

  .list-group-flush>.list-group-item {
    border: 0px;
    display: flex;
    align-items: center;
    padding: 5px 0px !important;

    a.value-text:hover {
      color: var(--bs-gray-600) !important;
    }
  }


  .circle {
    width: 1rem;
    height: 1rem;
    display: inline-block;
    vertical-align: middle;
    flex-shrink: 0;
  }

  .value-text {
    font-weight: normal;
    font-size: 0.9rem;
    line-height: 18px;
    text-decoration: none;
  }


  .icon-diagonal-right {
    background-image: url("../../../../dist/images/icons/status.svg");
    align-content: end;
    flex-shrink: 0;
    width: 17px;
    height: 17px;
    margin: 0;
    margin-left: auto !important;
    color: $color-medium-gray;
  }
}

.SOP-model {
  .form-control-search {
    background-image: url("../../../../dist/images/icons/search-light.svg") !important;
    background-position: right 5px center !important;
  }

  .form-check.typecheckradio label {
    text-transform: uppercase !important;
  }
}


.enitityDetails_servicecards {
  display: flex;
  width: 100%;
  max-width: 550px;
  align-self: flex-start;
  flex-direction: column;
  gap: 5px;

  .servicecards_header {
    display: flex;
    align-items: center;
    flex-grow: 1;
    margin-bottom: 5px;

    h6 {
      color: #0D2C36;
      margin: 0;
      font-size: 0.9375rem;
      font-style: normal;
      font-weight: 700;
      text-transform: uppercase;

      &:nth-child(2) {
        margin-left: 20px;
      }

      &:nth-child(3) {
        margin-left: auto;
      }
    }
  }

  .form-check .form-check-label,
  span {
    font-size: 13px !important;
    line-height: 20px;
    letter-spacing: -0.5px;
    color: $color-medium-gray;
    font-weight: 400;
  }

  .form-check .form-check-label {
    text-transform: capitalize !important;
  }
}