#grid-view {
    display: none;
}

.nav-tabs {
    .nav-item {
        a {
            &[data-id="list-view"] {
                .icon-list-view {
                    display: inline-block;
                }
                .icon-list-view-active {
                    display: none;
                }
                &.active {
                    .icon-list-view-active {
                        display: inline-block;
                    }
                    .icon-list-view {
                        display: none;
                    }
                }
            }
            &[data-id="grid-view"] {
                .icon-grid-view {
                    display: inline-block;
                }
                .icon-grid-view-active {
                    display: none;
                }
                &.active {
                    .icon-grid-view-active {
                        display: inline-block;
                    }
                    .icon-grid-view {
                        display: none;
                    }
                }
            }
        }
    }
}

.tab-listing {
    display: none;
    &.active {
        display: block;
    }
}