// variables

$color-gray-900: #272A2E;
$color-gray-opacity: #DFDFDF99;
$color-dark-gray: #262626;
$color-light-gray: #6C6C6C;
$color-medium-gray: #3E484A;
$color-crimson-red: #E73B18;
$color-lighter-gray: #F3F5F8;
$font-sora: "Sora", sans-serif;


.form-disabled {
  background-image: none !important;
  background-color: $color-medium-gray !important;
  color: #6E7683 !important;
}

.entityDetails-dashboard {

  & * {
    font-family: $font-sora !important;
  }

  .dashboard-page {
    &>.container-fluid {
      display: grid !important;
      grid-template-columns: auto 1fr;
      background-color: $color-gray-opacity !important;
      min-width: 0;

      .main-content-wrapper {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        padding: 0 !important;
        width: 100%;
        min-width: 0;

        max-width: 100% !important;

        .main-content {
          display: flex;
          flex-direction: column;
        }

        .notification {
          border: 2px solid #D8DDDF;
          border-radius: 100% !important;
          height: 100%;

          a {
            width: 32px !important;
            height: 32px !important;
            display: flex;
            justify-content: center;
            align-items: center;
          }

          .notification-dot-v2 {
            position: absolute;
            width: 6px;
            height: 6px;
            border-radius: 100%;
            background-color: $color-crimson-red;
            top: 7px;
            right: 8px;
          }
        }

        .main-content {
          .fw-bold {
            letter-spacing: -0.3px !important;
          }
        }

        .entityDetailsEditBtn {
          display: flex;
          gap: 4px;
          font-weight: 400;
          line-height: 16px;
          padding: 5px 6px;
          border-radius: 8px;
          text-transform: capitalize !important;
          color: $color-medium-gray;
          border-color: $color-medium-gray;

          &:hover {
            background-color: transparent;
            color: $color-medium-gray;
          }

          &:focus-visible {
            border-color: $color-medium-gray !important;
            box-shadow: 0 0 0 0.25rem rgba(108, 117, 125, 0.5) !important;
          }

          .icon-entity-edit {
            width: 12px;
            height: 12px;
          }
        }

        &>.container-fluid.container-lg {
          padding-inline: 1.5rem !important;
          background: var(--bs-purple-filejet) !important;
          margin-inline: 0 !important;
          max-width: 100% !important;

          &:last-child {
            padding-inline: 0 !important;
          }
        }
      }

      .entityTabsContent {
        background-color: $color-gray-opacity;
      }

      .entitydetailstablist,
      .entityDetail-header,
      .entitydetailsinfo {
        margin-inline: 1.5rem !important;
      }

      &>.container {
        grid-column: 2 / span 2;
      }
    }
  }

  .sidebar-wrapper {
    flex-shrink: 0;
    align-self: flex-start;
    grid-row: 1 / span 2;
  }

  .badge {
    padding: 8px 10px;
    border-radius: 30px;
    font-size: 10px;
    color: #fff;
    display: inline-block;
  }

  .badge-good {
    background-color: #3AB564;
  }

  .badge-not-good {
    background-color: #BB0F23;
  }

  .badge-inactive {
    background-color: #8690A0;
  }

  .badge-unknown {
    background-color: #1a4d9e;
  }

  .badge-active {
    background-color: #79F4C3;
  }

  .badge-Inactive {
    background-color: #A8B1FF;
  }

  .badge-inprogress {
    background-color: #A8EAFF;
  }

  .SOP-model,
  .entityTabsContent {
    input[disabled] {
      background-image: none !important;
      background-color: #F3F5F8 !important;
      color: #6E7683 !important;
      cursor: not-allowed !important;
    }

    input[type=radio]:disabled {
      background-image: url("../../../../dist/images/icons/view-checkbox-inactive.svg") !important;

      &:checked {
        background-image: url("../../../../dist/images/icons/view-checkbox-active-disabled.svg") !important;
      }
    }

    input[type=checkbox]:checked {
      background-color: #272727;
      border: 1.5px solid #272727 !important;
      cursor: pointer;
    }

    input[type=checkbox]:disabled:checked {
      background-image: url("../../../../dist/images/icons/radio-check.svg") !important;
    }
  }

  .SOP-model {
    .form-control-search {
      background-image: url("../../../../dist/images/icons/search-light.svg") !important;
      background-position: right 5px center !important;
    }

    .form-check.typecheckradio label {
      text-transform: uppercase !important;
    }

    .dropupload-zone {
      flex-direction: column;
      padding: 20px;
      border: 1px dashed #dee2e6;
      color: $color-gray-900;

      &.dragupload-over {
        border: 2px solid var(--bs-filejet-purple-indigo) !important;
        background-color: #f2f2ff;
      }

      .dropupload-zone__prompt {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .btn {
          background-color: var(--bs-purple);
          color: white;
          padding: 4px 10px !important;
        }
      }

      .dropupload-zone__input {
        display: none;
        visibility: hidden;
      }
    }

    .folder-info-wrapper {
      h6 {
        margin-bottom: 0.5rem !important;
        font-size: 12px !important;
        line-height: normal;
      }
    }

    .folder-list {
      .list-group {
        background-color: transparent !important;
        flex-direction: row;
        flex-wrap: wrap;
        box-shadow: none !important;
        border-radius: 0 !important;
        align-items: center;
        column-gap: 5px;

        .list-group-item {
          padding: 0 !important;
          border: none !important;
          font-size: 13px !important;

          a.active {
            font-weight: 700 !important;
          }
        }
      }
    }

    .subfolder-list {
      background-color: #F3F5F8;
      overflow: hidden;
      max-height: 170px;
      overflow-y: auto;

      .list-group {
        border-radius: 0 !important;

        .list-group-item {
          padding: 5px 0px !important;
          display: flex;
          align-items: center;
          gap: 10px;
          padding-inline: 10px !important;
          background-color: transparent !important;
          border: none !important;

          &:hover {
            background-color: #D8DDDF !important;
            cursor: pointer;
            text-decoration: underline;
            text-underline-offset: 0.2rem;
          }
        }
      }
    }

    .uploadfilelist-wrapper {
      width: 100%;

      .uploadfilelist-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-block: 10px;

        .action {
          display: flex;
          align-items: center;
          gap: 10px;

          .icon-lg {
            width: 16px !important;
            height: 16px !important;
          }
        }

        &+.uploadfilelist-item {
          border-top: 2px solid #dee2e6;
        }

        &:first-child {
          padding-top: 0;
        }

        &:last-child {
          padding-bottom: 0;
        }

        .uploadfile-info {
          display: flex;
          align-items: center;
          gap: 5px;

          .context {
            color: #8690A0;
          }
        }
      }
    }

    .folder_doc_dialog {
      max-width: 650px !important;

      .folder-doc_grid {
        display: grid;
        align-items: center;
        grid-template-columns: 95px 2fr 95px 1fr;
        row-gap: 10px;
        column-gap: 5px;
      }

      .form-label {
        margin: 0 !important;
      }
    }

    .folder_note_wrapper {
      .folder_note_heading {
        font-size: 15px;
        font-weight: 600;
        letter-spacing: 0.5px !important;
      }

      .input-item {
        transition: all 0.5s ease-in-out;

        &[contenteditable=true] {
          padding: 8px;
          padding-left: 12px;
          border: 1px solid #F3F5F8;
          background: #FFF;
          box-shadow: 0 4px 24px 0 rgba(0, 0, 0, 0.05) inset;
          color: #565D67;
          font-size: 12px;
          letter-spacing: -0.24px;
        }
      }
    }

    .modal-tags-container {
      .tagfields {
        background-color: $color-lighter-gray;

        select,
        input {
          background-color: white;
        }
      }

      .tag-color-picker {
        position: absolute;
        top: -5px;
        right: 0;
        opacity: 0;
        width: 0;
        height: 0;
        pointer-events: none;
      }
    }

    .icon-remove-tag {
      width: 1rem;
      right: -4px;
      top: -5px;
      cursor: pointer;
    }
  }


  .toggle-content.show {
    opacity: 100% !important;
  }

  .toggle-content {
    opacity: 90% !important;
    transition: all 0.01s ease-in-out;
  }

  .editable-parent .save-content {
    display: none;
  }
}




.entitydetails-info-modal {
  .entity-info-container {
    display: flex;
    gap: 10px;

    fieldset {
      flex-grow: 1;
    }
  }
}

.entitydetailsinfo {
  .accordion-button {
    text-transform: uppercase !important;
    color: var(--bs-dark) !important;
  }

  .card-label-text {
    color: $color-light-gray !important;
    font-weight: 700;
    font-size: 12px;
  }

  .value-text {
    font-size: 14px;
    line-height: 20px;
    color: $color-dark-gray !important;
    font-weight: 600;
    letter-spacing: -0.32px;
  }
}

.entitydetailstablist {
  position: relative;
  gap: rem(8);
  z-index: 9;

  &::after {
    position: absolute;
    content: "";
    top: anchor(91%);
    left: anchor(0%);
    background-color: $color-gray-900;
    width: anchor-size(--tab-anchor inline);
    height: 3px;
    transition: all 0.5s ease-in-out;
    position-anchor: --tab-anchor;
    z-index: 50;
  }

  .nav-link {
    padding-bottom: 12px !important;
    color: var(--bs-nw-gray-600);
    font-size: 12px;

    &[aria-selected=true],
    &.active {
      anchor-name: --tab-anchor;
      color: $color-gray-900;
      font-weight: 700;
    }
  }
}

.entityTabsContent {
  border-top: 1px solid #D8DDDF;
  min-height: 0 !important;

  .tab-content {
    margin-inline: 1.5rem !important;
  }

  & * {
    font-family: $font-sora !important;
  }

  .multi-select-container::after {
    margin-left: auto;
  }

  .multi-select-container.show::after {
    margin-left: auto;
  }

  .asofcalender-wrapper {
    position: relative;

    .form-label {
      text-transform: capitalize !important;
      font-size: 14px !important;
      font-weight: normal;
      flex-shrink: 0;
      margin: 0;
    }

    .form-control {
      background-image: url("../../../../dist/images/icons/calander-icon-light.svg") !important;
      background-size: 14px !important;
      background-position-x: 95% !important;
      background-repeat: no-repeat !important;
      background-position-y: 40% !important;
      margin: 0 !important;
      min-height: 0 !important;
      box-shadow: none !important;
      font-weight: normal;
    }

    .icon-add-tag {
      transform: rotate(45deg);
      position: absolute;
      margin: 0 !important;
      width: 1rem;
      right: 13% !important;
      cursor: pointer;
      display: none;
    }
  }

  table,
  .dataTable {

    thead {
      & th:first-child {
        border-top-left-radius: 5px;
      }

      & th:last-child {
        border-top-right-radius: 5px;
      }
    }

    tbody tr:last-child {
      & td:first-child {
        border-bottom-left-radius: 5px;
      }

      & td:last-child {
        border-bottom-right-radius: 5px;
      }
    }


  }

  .export-table-col {
    width: 4.5%;
  }

  .btn-add-owner {
    font-size: 14px;
    line-height: 14px;
    padding: 5px;
  }

  select.form-select:invalid {
    color: var(--bs-filejet-medium-gray-opacity-50);
  }
}

.entityDetailTableCard {
  background-color: white;
  position: relative;

  .table {
    margin-bottom: 0rem !important;
  }

  #contextmenu {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    transform-origin: top left;
    transition: opacity 250ms ease, visibility 0ms linear 250ms;
    min-width: 180px;
    border: 0.5px solid #6E7683;
    border-radius: 3px;
    background-color: #ffffff;
    overflow: hidden;

    .context-item {
      display: flex;
      padding: 0.5rem;
      flex-grow: 1;
      align-items: center;
      border-bottom: 0.5px solid #6E7683;
      justify-content: space-between;
      color: #6E7683 !important;
      cursor: pointer;

      &:last-child {
        border-bottom: none;
      }

      &:hover {
        background-color: #e9ecef;
      }
    }

    &.show {
      animation: fadeIn 250ms ease forwards;
    }
  }

  .icon-entity-edit:hover {
    background-image: url("../../../../dist/images/icons/edit-dark.svg");
  }

  .icon-entity-delete:hover {
    background-image: url("../../../../dist/images/icons/delete-red.svg");
  }

  .dataTables_wrapper tbody td {
    font-weight: 400 !important;
    color: var(--bs-black-primary) !important;
    font-size: 12px !important;
    padding: 0.5rem 0.9rem !important;
    line-height: 1.25rem !important;

    &.text-light-blue {
      color: var(--bs-light-blue) !important;
    }
  }

  .dataTables_wrapper .dataTables_scroll {

    .dataTables_scrollHeadInner,
    .dataTable {
      width: inherit !important;
      max-width: inherit !important;
      min-height: 0 !important;
      overflow-y: hidden;
    }
  }

  .entityDetailRegistrationTable {
    .dataTables_wrapper .dataTable {
      thead {
        th {
          &:first-child {
            width: 200px;
          }

          &:nth-child(3),
          &:nth-child(4),
          &:nth-child(5) {
            width: 100px;
          }

          &:last-child {
            max-width: 60px !important;
            width: 60px;
          }
        }
      }
    }
  }

  .entityDetailOpenTaskTable {
    .dataTables_wrapper .dataTable {
      thead {
        th {
          &:first-child {
            width: 200px;
          }

          &:nth-child(3) {
            width: 80px;
          }

          &:nth-child(5) {
            width: 120px;
          }
        }
      }
    }
  }

  .entityDetailOrdersTable {
    .dataTables_wrapper .dataTable {
      thead {
        th {

          &:first-child {
            width: 200px;
          }


          &:nth-child(6) {
            width: 150px;
          }

          &:nth-child(7) {
            width: 100px;
          }
        }
      }
    }
  }

  .entityDetailBusinessTable {
    .badge {
      color: black;
    }

    .dataTables_wrapper .dataTable {
      thead {
        th {
          &:first-child {
            width: 200px;
          }
        }
      }
    }
  }

  .entityDetailDBAsTable {
    .badge {
      color: black;
    }
  }

  .entityDetailDocumentsTable {
    position: relative;

    .dataTable tr {
      min-height: 0;
      transition: background-color 0.5s ease-in-out, padding 0.5s ease-in-out;

      .dt-control {
        color: transparent;
        width: 1rem;
        height: 1rem;
        border: none;
        background-color: transparent;
        background-image: url("../../../../dist/images/icons/right-angle-table.svg");
        background-repeat: no-repeat;
        background-position: center;
        transition: transform 0.2s ease-in-out;
        cursor: pointer;

        &.no-control {
          visibility: hidden;
          pointer-events: none;
          cursor: none;
        }
      }
    }

    .dataTable tr.expanded-row {

      background-color: #D8DDDF !important;
      box-shadow: inset 0 -1.5px 0 rgba(0, 0, 0, 0.3) !important;

      .dt-control {
        transform: rotate(90deg);
      }
    }

    .dataTables_scrollBody {
      padding: 0px !important;
    }

    .dataTable tr.expanded-content td.doc_indent {
      padding-left: 40px !important;
    }
  }

  .entityDetailDocumentsTableV2 {
    position: relative;

    .dataTables_wrapper .dataTable {
      thead {
        th {
          &:first-child {
            width: 1rem !important;
            max-width: 1rem !important;
          }

          &:nth-child(2) {
            width: 260px;
            min-width: 260px !important;
          }

          &:nth-child(3) {
            width: 300px;
            min-width: 300px !important;
          }

          &:nth-child(4) {
            width: 100px;
            min-width: 100px !important;
          }

          &:last-child {
            width: 50px;
            max-width: 50px !important;
          }
        }
      }
    }

    .dataTables_scrollBody {
      padding: 0px !important;
    }

    .dataTable tr {
      min-height: 0;
      transition: background-color 0.5s ease-in-out, padding 0.5s ease-in-out;

      .dt-control {
        color: transparent;
        width: 1rem;
        height: 1rem;
        border: none;
        background-color: transparent;
        background-image: url("../../../../dist/images/icons/right-angle-table.svg");
        background-repeat: no-repeat;
        background-position: center;
        transition: transform 0.2s ease-in-out;
        cursor: pointer;

        &.no-control {
          visibility: hidden;
          pointer-events: none;
          cursor: none;
        }
      }

      &.expanded-row {
        background-color: #D8DDDF !important;
        box-shadow: inset 0 -1.5px 0 rgba(0, 0, 0, 0.3) !important;
        transition: background-color 0.5s ease-in-out;

        .dt-control {
          transform: rotate(90deg);
        }
      }

      &.expanded-content td.doc_indent {
        padding-left: 35px !important;
      }

      &.rowSelect,
      &.expanded-row.rowSelect {
        background-color: #E8F1FE !important;
      }
    }
  }

  .dataTables_wrapper .row:last-child:has(.dataTables_info) {
    display: none !important;
  }

  .dataTables_wrapper .dataTable thead th:last-child {

    &::after,
    &::before {
      right: 7px !important;
    }
  }
}

.entityDetails-registration-card {
  .row>div {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
}

.entityDetails-description-card {
  p.descriptionContent {
    color: $color-medium-gray;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -0.3px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
    line-clamp: 11;
    -webkit-line-clamp: 11;

    &[contentEditable=true] {
      display: block;
      overflow-block: auto;
      padding: 10px;
      box-shadow: 0 4px 24px 0 rgba(0, 0, 0, 0.05) inset;
    }

    &.skeleton {
      height: 200px;
    }
  }
}

.entityDetails-orders-card,
.entityDetails-opentask-card {

  &.tab-trigger {
    cursor: pointer;
  }

  .list-group-flush {
    display: flex;
    flex-direction: column;
    gap: 7px;
  }

  .list-group-flush>.skeleton {
    margin-block: 1.5px !important;
  }

  .list-group-flush>.list-group-item {
    border: 0px;
    display: flex;
    align-items: center;
    padding: 0px !important;

    a.value-text:hover {
      color: var(--bs-gray-600) !important;
    }
  }


  .circle {
    width: 1rem;
    height: 1rem;
    display: inline-block;
    vertical-align: middle;
    flex-shrink: 0;
  }

  .value-text {
    font-weight: normal;
    font-size: 0.9rem;
    line-height: 18px;
    text-decoration: none;
  }


  .icon-diagonal-right {
    background-image: url("../../../../dist/images/icons/status.svg");
    align-content: end;
    flex-shrink: 0;
    width: 17px;
    height: 17px;
    margin: 0;
    margin-left: auto !important;
    color: $color-medium-gray;
  }
}


.enitityDetails_servicecards {
  display: flex;
  width: 100%;
  max-width: 550px;
  align-self: flex-start;
  flex-direction: column;
  gap: 5px;

  .servicecards_header {
    display: flex;
    align-items: center;
    flex-grow: 1;
    margin-bottom: 5px;

    h6 {
      color: #0D2C36;
      margin: 0;
      font-size: 0.9375rem;
      font-style: normal;
      font-weight: 700;
      text-transform: uppercase;

      &:nth-child(2) {
        margin-left: 20px;
      }

      &:nth-child(3) {
        margin-left: auto;
      }
    }
  }

  .form-check .form-check-label,
  span {
    font-size: 13px !important;
    line-height: 20px;
    letter-spacing: -0.5px;
    color: $color-medium-gray;
    font-weight: 400;
  }

  .form-check .form-check-label {
    text-transform: capitalize !important;
  }
}

@media (min-width:767.99px) {
  .entitydetailsinfo {
    .entitydetailsinfo-content {
      max-height: 300px !important;
    }
  }
}

@media (min-width:991.98px) {
  .entitydetailstablist {
    gap: rem(12);

    .nav-link {
      font-size: 12.5px;
    }
  }
}

@media (min-width:1499.98px) {
  .entitydetailstablist {
    gap: rem(20);

    .nav-link {
      font-size: 14px;
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    visibility: hidden;
  }

  to {
    opacity: 1;
    visibility: visible;
  }
}