.tab-content-wrapper {
    display: none;
}

.nav-tabs {
    .nav-item {
        a {

            &[data-id="list-view-stake"],
            &[data-id="list-view-task"],
            &[data-id="list-view"],
            &[data-id="list-view-juri"],
            &[data-id="list-view-arizona"] {
                .icon-list-view {
                    display: inline-block;
                }

                .icon-list-view-active {
                    display: none;
                }

                &.active {
                    .icon-list-view-active {
                        display: inline-block;
                    }

                    .icon-list-view {
                        display: none;
                    }
                }
            }

            &[data-id="grid-view-stake"],
            &[data-id="grid-view-task"],
            &[data-id="grid-view"],
            &[data-id="grid-view-juri"],
            &[data-id="grid-view-arizona"] {
                .icon-grid-view {
                    display: inline-block;
                }

                .icon-grid-view-active {
                    display: none;
                }

                &.active {
                    .icon-grid-view-active {
                        display: inline-block;
                    }

                    .icon-grid-view {
                        display: none;
                    }
                }
            }
        }
    }
}


.tab-listing {
    display: none;

    &.active {
        display: block;
    }
}

.card {
    &.entity-card {
        border: 5px solid transparent;
    }

    transition: all 0.7s ease-in;

    &.active {
        border: 5px solid var(--bs-white);
    }
}

.entity-card-content {
    display: none;

    &.active {
        display: block;
    }
}

.entity-card-content .dot {
    width: auto;
    height: auto;
    margin: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}