
:root{
    --bs-purple-filejet: #D9D9F1;
    --bs-purple-indigo: #4744D1;

}

.indigo-bg{
    background-color: var(--bs-purple-indigo);
}
.filejet-bg{
    background-color: var(--bs-purple-filejet);
}

.light-blue-bg{
    background-color: var(--bs-light-blue)
}
.icon-alert-light {
    background-image: url("../../../dist/images/icons/alert-light.svg");
  }
  
  .icon-status-upcoming {
    background-image: url("../../../dist/images/icons/status-upcoming.svg");
  }
  
  .icon-status-future {
    background-image: url("../../../dist/images/icons/status-future.svg");
  }
  .icon-angle-bottom {
    background-image: url("../../../dist/images/icons/icon-angle-bottom.svg");
  }
  .icon-angle-top-white {
    background-image: url("../../../dist/images/icons/icon-angle-top-white.svg");
  }
  .icon-angle-right {
    background-image: url("../../../dist/images/icons/icon-angle-right.svg");
    width: 8px;
  }
  .icon-circle-check-white {
    background-image: url("../../../dist/images/icons/circle-check-white.svg");
  }

  .icon-in-process-white {
    background-image: url("../../../dist/images/icons/in-process-white.svg");
  }

  .maroon-bg{
    background-color: #BB0F23;
  }
  .dark-gray-bg{
    background-color: #8690A0;
  }
  .dark-blue700-bg{
    background-color: #1A4D9E;
  }

  .dark-blue-bg{
    background-color: #1C085A;
  }
  .meta-blue-bg{
    background-color: #1080F8;
  }
.sidebar-v2 {
 .menu-link .nav-link.active a{
    background: var(--bs-purple-filejet);
    color: #1C085A;
 }
 .menu-link .nav-link.active a::before{
    background-image: radial-gradient(circle at 100% 0, white 0%, white 2rem, #d0d0e8 2rem);
 }
 .menu-link .nav-link.active a::after{
    background-image: radial-gradient(circle at 100% 0, white 0%, white 2rem, #d0d0e8  2rem);
 }
 .menu-link .nav-link:hover a {
    color: #1C085A;
}
}

.group-search-d2{
    .dropdown-toggle {
        text-transform: capitalize !important;
        color: var(--bs-dark);
        font-size: 1rem;
        min-width: max-content;
        cursor: pointer;
        font-weight: normal;
        background-color: white;
    }
    .btn-check:checked+.btn, .boc-light #boc-ppdf-btns .btn-check:checked+#boc-prev-cancel, .boc-light #boc-ppdf-btns .btn-check:checked+#boc-prev-save, :not(.btn-check)+.btn:active, .boc-light #boc-ppdf-btns :not(.btn-check)+#boc-prev-cancel:active, .boc-light #boc-ppdf-btns :not(.btn-check)+#boc-prev-save:active, .btn:first-child:active, .boc-light #boc-ppdf-btns #boc-prev-cancel:first-child:active, .boc-light #boc-ppdf-btns #boc-prev-save:first-child:active, .btn.active, .boc-light #boc-ppdf-btns .active#boc-prev-cancel, .boc-light #boc-ppdf-btns .active#boc-prev-save, .btn.show, .boc-light #boc-ppdf-btns .show#boc-prev-cancel, .boc-light #boc-ppdf-btns .show#boc-prev-save{
        border: none;
        background-color: var(--bs-purple-indigo);
        color: #fff;
    }
    .dropdown-search {
        min-height: 36px;
    }
    .label.form-check-label, label.form-check, label{
        text-transform: capitalize !important;
        font-weight: normal;
        font-size: 12px !important;
        padding-left: 10px;
    }
    .form-check{
        border-bottom: 1px var(--bs-border-color);
    }
    .form-check-input[type=radio]{
        left: 12px;
    }
    .dropdown-item:active {
        color: var(--bs-dropdown-link-active-color);
        text-decoration: none;
        background-color: var(--bs-gray-light);
    }
    .other-placeholder{
        color: var(--bs-dark);
        font-size: 0.9rem;
        width: 160px;
        cursor: pointer;
        font-weight: normal;
        text-transform: capitalize !important;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .dropdown-menu.show {
        max-height: 250px;
        overflow-y: scroll;
    }
}

.profile-nav-v2{
    min-width: 31px;
}
.quick-actions{
    background-color: #1C085A;


    .text-placeholder-d2 {
        color: var(--bs-dark);
        font-size: 12px;
        min-width: max-content;
        cursor: pointer;
        font-weight: normal;
        text-transform: capitalize !important;
    }
}

.chart-container {

   .chart-legend ul {
     list-style-type: none;
     padding: 0;
     margin: 0;
   }

   .chart-center-text {
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     font-size: 1.5rem;
     font-weight: bold;
     color: var(--bs-dark);
     letter-spacing: -0.9px;
   }
 }

.cardcontainer-d2{
    .nav-link{
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
    }
    .nav-item{
        width: 32.6%;
    }
    .icon-angle-bottom{
            display: none;
    }
    

     .nav-link:not(.active) {
        opacity: 100%;
        background: #F2F2FF;
        .card-headerd2{
            background-color: rgba(216, 221, 223, -0.6);
            color: var(--bs-link-color);
        }
        .list-group-flush>.list-group-item {
            border-bottom: 1px solid white;
        }
        .icon-angle-top-white{
            display: none;
        }
        .icon-angle-bottom{
            display: block;
    }


    }
    .card-d2{
        height: 238px;

        .card-headerd2{
            background-color: var(--bs-purple-indigo);
            color: #fff;
            border-top-left-radius: 12px;
            border-top-right-radius: 12px;
            font-size: 16px;
            text-transform: none;
            line-height: normal;
        }

        .circle {
            width: 1rem;
            height: 1rem;
            display: inline-block;
            vertical-align: middle;
        }
        .list-group-flush {
            border-radius: 0;
            font-weight: 400;
            font-size: 0.8rem;
        }
        
    }
    .icon-status {
        background-image: url("../../../dist/images/icons/status.svg");
        float: right;
    }
}
.tab-content-v2{
    .search-table-col{
        width: 35%;
    }
    .Jurisdiction-table-col{
        width: 26%;
    }
    .task-table-col{
        width: 17.5%;
    }
    .status-table-col{
        width: 17.5%;
    }
    .export-table-col{
        width: 4%;
    }
    .export-csv-col{
        height: 31px;
     }
    .filter2-dropdown{
        .dropdown-icon-container {
            position: relative;
            display: inline-block;
            width: 100%;
        }
    
           .dropdown-icon {
            position: absolute;
            top: 50%;
            right: 10px;
            transform: translateY(-50%);
            pointer-events: none;
            font-size: 14px;
            color: #6c757d;
        }
    
        .select2-container--default .select2-selection--multiple {
            padding-right: 30px;
            border: none;
            height: 30px;
            min-height: 30px;
        }
        .select2-container .select2-search--inline .select2-search__field{
            margin-top: 6px !important;
            margin-left: 15px !important;
            font-family: inherit !important;
        }
        .select2-container .select2-selection--multiple .select2-selection__rendered{
            display: flex;
            margin: 0px;
        }
    
    }

    .entity-search-table-col{
        width: 45%;
    }
    .entity-Jurisdiction-table-col{
        width: 30%;
    }
    .entity-status-table-col{
        width: 20.5%;
    }

}

.card-table-d2{
    .check-box-max-width{
        width: 50px;
    }
    .table{
        font-weight: 400;
        color: var(--bs-black-primary);
    }
    .card-table-d2 .dataTables_wrapper tbody td{
        font-weight: 400;
        color: var(--bs-black-primary);
        font-size: 0.9rem;
      }
      .dataTables_wrapper tbody td a{
        font-weight: 400;
      }
    .odd{
        background-color: #F3F5F8 !important;
    }
    .btn-secondary{
        font-size: 10px;
    }
    .form-check-input{
        border: 1.3px solid var(--bs-gray-600) !important;
    }
    .dataTables_wrapper .dataTable thead th.sorting::after .form-check-input{
        display: none;
    }
    .clickable {
        cursor: pointer;
      }
  
      .clickable:hover {
        background-color: #f1f1f1;
      }
      .status-circle {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 12px;
        color: white;
        font-weight: 600;
    }
    // .dataTables_wrapper .dataTable thead th.sorting::after{
    //     background-image: url(../../../dist/images/icons/sort.svg);
    // }
    .dataTables_wrapper .dataTable thead th{
        text-transform: capitalize !important;
    }

    .dataTables_wrapper .dataTable tbody td{
        padding-top: 0.5rem !important;
        padding-bottom: 0.5rem !important;
    }
    .table-status{
        span{
            width: 2rem;
            height: 2rem;
        }
    }
    .rounded-pill{
        font-size: 10px;
        text-align: center;
        
        .icon{
            display: none;
        }
        .text-light{
            width: 85px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
    }


}

.entity-card-table{
    .dataTables_scrollBody{
        max-height: 100vh !important;
        height: auto !important;
    }
}


