:root {
  --bs-purple-filejet: #d9d9f1;
  --bs-purple-indigo: #125DAF;
  --bs-pro-blue: #1265BF;
  --bs-external-gray:#3F434A;
}

table.dataTable.display > tbody > tr > td {
  white-space: normal;
  box-shadow: none !important;
}

.indigo-bg {
  background-color: var(--bs-purple-indigo);
}
.filejet-bg {
  background-color: var(--bs-purple-filejet);
}

.light-blue-bg {
  background-color: var(--bs-light-blue);
}
.voilet-bg{
  background-color: #62539F;
}
.icon-unknowledged {
  background-image: url("../../../dist/images/icons/unknowledged.svg");
}
.icon-alert-light {
  background-image: url("../../../dist/images/icons/alert-light.svg");
}

.icon-status-upcoming {
  background-image: url("../../../dist/images/icons/status-upcoming.svg");
}

.icon-status-future {
  background-image: url("../../../dist/images/icons/status-future.svg");
}
.icon-angle-bottom {
  background-image: url("../../../dist/images/icons/icon-angle-bottom.svg");
}
.icon-angle-top-white {
  background-image: url("../../../dist/images/icons/icon-angle-top-white.svg");
}
.icon-angle-right {
  background-image: url("../../../dist/images/icons/icon-angle-right.svg");
  width: 8px;
}
.icon-circle-check-white {
  background-image: url("../../../dist/images/icons/circle-check-white.svg");
}

.icon-in-process-white {
  background-image: url("../../../dist/images/icons/in-process-white.svg");
}
.icon-download-white-on-green {
  background-image: url("../../../dist/images/icons/download-white-on-green.svg");
}

.icon-arrow-triangle-bottom-dark {
  background-image: url("../../../dist/images/icons/arrow-triangle-bottom-dark.svg");
  width: 6px;
  margin: 0px;
}

.maroon-bg {
  background-color: #bb0f23;
}
.dark-gray-bg {
  background-color: #8690a0;
}
.dark-blue700-bg {
  background-color: #1a4d9e;
}

.dark-blue-bg {
  background-color: #1c085a;
}
.meta-blue-bg {
  background-color: #1080f8;
}

.sidebar-v2 {
  .menu-link .nav-link.active a {
    background: var(--bs-purple-filejet);
    color: #1c085a;
  }
  .menu-link .nav-link.active a::before {
    background-image: radial-gradient(
      circle at 100% 0,
      white 0%,
      white 2rem,
      #d0d0e8 2rem
    );
  }
  .menu-link .nav-link.active a::after {
    background-image: radial-gradient(
      circle at 100% 0,
      white 0%,
      white 2rem,
      #d0d0e8 2rem
    );
  }
  .menu-link .nav-link:hover a {
    color: #1c085a;
  }
}
.custom-select:focus {
  border-color: var(--bs-purple-indigo);
  background-color: var(--bs-purple-indigo); 
  color: #fff;
}
.custom-select option {
  background: white;
  color: black;
}

.group-search-d2 {
  height: 30px !important ;
  .form-select {
    background-size: 7px 10px !important;
    background-image: url("../../../dist/images/icons/icon-angle-bottom.svg") !important;
  }
  button:focus:not(:focus-visible){
    background-color: var(--bs-purple-indigo);
    color: white;
  }
  button:focus:not(:focus-visible)::after{
    color:white;
  }
  .dropdown-toggle {
    text-transform: capitalize !important;
    color: var(--bs-dark);
    font-size: 1rem;
    min-width: max-content;
    cursor: pointer;
    font-weight: normal;
    background-color: white;
  }
  .dropdown-toggle::after {
    font-weight: bolder;
    position: absolute;
    right: 10px;
    top: 20%;
    content: "˅";
    transform: scaleX(1.9);
    display: inline-block;
    font-size: 10px;
    border: none;

  }

  .btn-check:checked + .btn,
  .boc-light #boc-ppdf-btns .btn-check:checked + #boc-prev-cancel,
  .boc-light #boc-ppdf-btns .btn-check:checked + #boc-prev-save,
  :not(.btn-check) + .btn:active,
  .boc-light #boc-ppdf-btns :not(.btn-check) + #boc-prev-cancel:active,
  .boc-light #boc-ppdf-btns :not(.btn-check) + #boc-prev-save:active,
  .btn:first-child:active,
  .boc-light #boc-ppdf-btns #boc-prev-cancel:first-child:active,
  .boc-light #boc-ppdf-btns #boc-prev-save:first-child:active,
  .btn.active,
  .boc-light #boc-ppdf-btns .active#boc-prev-cancel,
  .boc-light #boc-ppdf-btns .active#boc-prev-save,
  .btn.show,
  .boc-light #boc-ppdf-btns .show#boc-prev-cancel,
  .boc-light #boc-ppdf-btns .show#boc-prev-save {
    border: none;
  }
  .dropdown-search {
    min-height: 36px;
  }
  .label.form-check-label,
  label.form-check,
  label {
    text-transform: capitalize !important;
    font-weight: normal;
    font-size: 12px !important;
    padding-left: 10px;
  }
  .form-check {
    border-bottom: 1px var(--bs-border-color);
  }
  .form-check-input[type="radio"] {
    left: 12px;
  }
  .dropdown-item:active {
    color: var(--bs-dropdown-link-active-color);
    text-decoration: none;
    background-color: var(--bs-gray-light);
  }
  .other-placeholder {
    color: var(--bs-dark);
    font-size: 1rem;
    width: 160px;
    cursor: pointer;
    font-weight: normal;
    text-transform: capitalize !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .dropdown-menu.show {
    max-height: 270px;
    overflow-y: scroll;
  }
}

.profile-nav-v2 {
  min-width: 31px;
}
.quick-actions {
  background-color: #1c085a;
  .text-light{
    font-size: 23px;
    font-weight: 600;
  }
  .text-placeholder-d2 {
    color: var(--bs-dark);
    font-size: 12px;
    min-width: max-content;
    cursor: pointer;
    font-weight: normal;
    text-transform: capitalize !important;
  }
}



.cardcontainer-d2 {
  .nav-link {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
  }
  .nav-item {
    width: 32.6%;
  }
  .icon-angle-bottom {
    display: none;
  }

  .nav-link.active {
    color: var(--bs-nav-tabs-link-active-color);
    background-color: var(--bs-nav-tabs-link-active-bg);
    border: 5px solid var(--bs-purple-indigo);
    border-bottom: 0px solid #fff;
    z-index: 1;
    position: relative;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

  .nav-link:not(.active) {
    opacity: 100%;
    background: #f2f2ff;
    .card-headerd2 {
      background-color: rgba(216, 221, 223, -0.6);
      color: var(--bs-link-color);
    }
    .icon-angle-top-white {
      display: none;
    }
    .icon-angle-bottom {
      display: block;
    }
  }
  .card-d2 {
    height: 268px;

    .card-headerd2 {
      background-color: var(--bs-purple-indigo);
      color: #fff;
      border-top-left-radius: 12px;
      border-top-right-radius: 12px;
      font-size: 23px;
      font-weight: 600;
      text-transform: none;
      line-height: normal;
    }

    .circle {
      width: 1rem;
      height: 1rem;
      display: inline-block;
      vertical-align: middle;
    }
    .list-group-flush {
      border-radius: 0;
      font-weight: 400;
      font-size: 0.9rem;
    }
    .chart-container {
      .chart-legend ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
      }
      .chart-legend ul li .icon{
        display: none;
      }
      .chartdiv{
        position: relative;
      }
      .piechart{
        width: 150px;
        height: 150px;
      }
      .chart-center-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 1.5rem;
        font-weight: bold;
        color: var(--bs-dark);
        letter-spacing: -0.9px;
      }
      .list-group-flush>.list-group-item{
        border: 0px;
      }

      .list-group-flush>.list-group-item span:hover{
        color: var(--bs-purple-indigo);
      }
    
    }
  }
  .icon-status {
    background-image: url("../../../dist/images/icons/status.svg");
    float: right;
  }
}

.tab-content-v2 {
  position: relative;
  top: -4px;
  border: 5px solid var(--bs-purple-indigo);

  .search-table-col {
    width: 28%;
    height: 31px;
  }
  .table-search-feild {
    height: 31px;
  }
  .Jurisdiction-table-col {
    width: 17%;
  }
  .task-table-col {
    width: 25%;
  }
  .status-table-col {
    width: 26%;
  }
  .export-table-col {
    width: 4%;
  }
  .export-csv-col {
    height: 31px;
  }
  .entity-search-table-col {
    width: 38%;
  }
  .entity-Jurisdiction-table-col {
    width: 26%;
  }
  .entity-status-table-col {
    width: 32%;
  }
}

.filter2-dropdown {
  input[type=text]:focus-visible {
    background-color: var(--bs-purple-indigo);
    color: #fff;
  }
  > div::after {
    font-weight: bolder;
    position: absolute;
    right: 10px;
    top: 35%;
    content: "˅";
    transform: scaleX(1.9);
    display: inline-block;
    font-size: 9px;
  }
  .dropdown-menu::after,
  .dropdown-menu ul::before {
    display: none !important;
  }
  .dropdown-menu {
    max-height: 250px;
    overflow-y: auto;
  }

  .dropdown-icon-container {
    position: relative;
  }

  .dropdown-menu label {
    cursor: pointer;
  }

  .dropdown-toggle {
    min-height: 30px !important;
    box-shadow: none !important;
  }
  input[type="text"]:focus-visible {
    background-color: var(--bs-purple-indigo);
    color: #fff;
  }

  ul li label {
    margin: 0px;
    border-bottom: 1px solid var(--bs-border-color);
    padding-top: 10px;
    padding-bottom: 10px;
    text-transform: capitalize !important;
  }
  input[type="checkbox"] {
    border: 1.5px solid #8690a0;
  }
  .dropdown-item.active,
  .dropdown-item:active {
    background-color: var(--bs-purple-indigo);
    color: white;
  }
}

.filter-selected-items-container {
  position: absolute;
  top: 3px;
  left: 13px;
  max-height: 24px;
  overflow: hidden;
}

.filter-selected-item {
  background-color: #d8dddf;
  padding: 3px 5px;
  border-radius: 2px;
  display: inline-flex;
  align-items: center;
  gap: 5px;
  font-size: 10px;
  color: #6e7683;
  margin-right: 5px;
  font-weight: 500;
}

.clear-icon-image {
  width: 14px;
  height: 14px;
  cursor: pointer;
  vertical-align: middle;
  display: flex;
}
.custom-filter-input::placeholder {
  color: #0d2c36;
  opacity: 100;
  font-weight: normal;
}
.custom-filter-input:focus::placeholder {
  color: white;
}
.custom-search-input {
  color: #0d2c36;
  opacity: 100;
  font-weight: normal;
}

 .card-table-d2{

  th:nth-child(1),
   td:nth-child(1),
   th:nth-child(2),
   td:nth-child(2) {
    width: 150px;
    min-width: 150px;
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;
  }
  .check-box-max-width {
    width: 50px;
  }
  .table {
    font-weight: 400;
    color: var(--bs-black-primary);
    width: auto;
    overflow: scroll;
  }

  .card-table-d2 .dataTables_wrapper tbody td {
    font-weight: 400;
    color: var(--bs-black-primary);
    font-size: 0.9rem !important;
  }
  .dataTables_wrapper .dataTable thead th {
    text-transform: capitalize !important;
  }
  .dataTables_wrapper tbody td a {
    font-weight: 400;
  }
  .odd {
    background-color: #f3f5f8 !important;
  }
  .btn-secondary {
    font-size: 10px;
  }
  .form-check-input {
    border: 1.3px solid var(--bs-gray-600) !important;
  }
  .dataTables_wrapper .dataTable thead th.sorting::after .form-check-input {
    display: none;
  }
  .clickable {
    cursor: pointer;
  }

  .clickable:hover {
    background-color: #f1f1f1;
  }
  .status-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    color: white;
    font-weight: 600;
  }
  .dataTables_scroll .dataTables_scrollBody {
    height: auto !important;
  }

  .table-status {
    span {
      width: 2rem;
      height: 2rem;
    }
  }
  .rounded-pill {
    font-size: 10px;
    text-align: center;
    width: max-content;
    font-weight: 600;
    .icon {
      margin-right: 0px !important;
    }
    .text-light {
      padding-right: 10px;
      padding-left: 5px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }
 }

.entity-regestration-card {
  .entity-card-table {
    height: 50vh;
    max-height: 50vh;
  }
  #ra-other-table thead {
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 3;
  }

  .dt-hasChild {
    background-color: #5b5559 !important;
    color: #fff !important;
  }
  tbody tr.expanded-row:hover {
    background: #5b5559 !important;
    color: #fff !important;
  }
  tbody tr.expanded-row .dt-control::before {
    color: #fff !important;
    content: "▼" !important;

  }
  .expand-row td {
    padding: 1rem !important;
    background-color: #f4f4f4;
    border: none;
  }
  td[colspan="9"] {
    padding: 0 !important;
    border: none;
  }
  .inner-table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    table-layout: fixed;
    margin: 0;
    padding: 0;
  }

  .inner-table td {
    border-top: 1px solid #ddd;
    text-align: left;
  }

  .badge {
    padding: 8px 10px;
    border-radius: 30px;
    font-size: 10px;
    color: #fff;
    display: inline-block;
  }

  .badge-good {
    background: var(--bs-green);
  }

  .badge-not-good {
    background-color: #E73B18;
  }

  .badge-inactive {
    background-color: #8690A0;
  }
  .badge-externally-managed {
    background-color: #1a4d9e;
  }

  .status-dots {
    display: flex;
    gap: 5px;
    align-items: center;
  }

  .status-dot {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    line-height: normal;
  }
  .status-dot:hover{
    background-color: var(--bs-external-gray);
} 

  .status-good {
    background: var(--bs-green);
  }

  .status-not-good {
    background-color: #E73B18;
  }

  .status-inactive {
    background-color: #8690A0;
  }
  .status-externally-managed {
    background-color: #1a4d9e;
  }

  #ra-other-table th:nth-child(1),
  #ra-other-table td:nth-child(1) {
    width: 10px !important;
    min-width: 10px;
  }
  #ra-other-table th:nth-child(3),
  #ra-other-table td:nth-child(3) {
    width: 150px;
    min-width: 150px;
  }
  .expanded-row{
    background-color: #5B5559 !important;
    color: #fff;
  }
  .pagination-row{
    height: 50px;
    background-color: #D8DDDF !important;
  }
  .pagination-row .btn{
    border: none !important;
    transform: scaleY(1.8);
  }
  .pagination-row .page-info{
    font-size: 12px;
    color: gray;
  }
}
.dataTables_wrapper .dataTable thead th.sorting::after {
  height: auto !important;
  right: 10px;
  top: 45%;
  margin-left: 0rem !important;
  content: "▼" !important;
  transform: none !important;
  background-image: none !important;
  line-height: normal !important;
  width: auto !important;
  margin-top: 4px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
  padding: 0px !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  background: none !important;
  border: none !important;
}
.dataTables_paginate ul.pagination .paginate_button a.page-link {
  width: 1.5rem;
  padding: 0px;
}
.dataTables_wrapper .dataTables_info {
  float: right !important;
  padding-right: 0px !important;
  position: relative;
  left: 20%;
}

.dataTables_wrapper .dataTables_paginate {
  position: relative;
  right: 70%;
  padding: 0px !important;
}
.inner-table-container .dataTables_wrapper .dataTables_info {
  float: right !important;
  padding-right: 0px !important;
  position: relative;
  left: 8%;
}
.inner-table-container .dataTables_wrapper .dataTables_paginate {
  position: relative;
  right: 80%;
  padding: 0px !important;
}
.inner-table-container .dataTables_paginate ul.pagination {
  align-items: center;
}
.inner-table-container .dataTables_wrapper > .row:last-child {
  background-color: #d8dddf;
}



  /* External dashboard css start */
  .external-dashboard{
  .filejet-bg{
    background-color: #EBECED;
  }
.filejet-bg ::-webkit-scrollbar-thumb{
    background-color: var(--bs-external-gray);
}
.cardcontainer-d2 .card-d2 {
    border: 0px;
    border-bottom: 3px solid #fff;
}
.cardcontainer-d2 .nav-link.active {
    color: var(--bs-external-gray);
    border: 5px solid var(--bs-external-gray);
    border-bottom: 0px solid #fff;
}
.cardcontainer-d2 .card-d2 .card-headerd2 {
    background-color: var(--bs-external-gray);
}
.cardcontainer-d2 .nav-link:not(.active) .card-headerd2 {
  background-color: #fff;
  color: var(--bs-link-color);
}
.tab-content-v2 {
    border: 5px solid var(--bs-external-gray);
}

.cardcontainer-d2 .nav-link:not(.active) {
    opacity: 100%;
    background: #fff;
}

.sidebar-v2 .menu-link .nav-link.active a {
    background: #EBECED;
    color: #1c085a;
}
.sidebar-v2 .menu-link .nav-link.active a::after {
    background-image: radial-gradient(circle at 100% 0, white 0%, white 2rem, #dfe0e1 2rem);
}
.sidebar-v2 .menu-link .nav-link.active a::before {
    background-image: radial-gradient(circle at 100% 0, white 0%, white 2rem, #dfe0e1 2rem);
}
.filter2-dropdown input[type=text]:focus-visible {
    background-color: var(--bs-external-gray);
}
.filter2-dropdown .form-check-input[type=checkbox]:checked, .boc-light .boc-filter .boc-filter-menu fieldset div input[type=checkbox]:checked {
    border-color: var(--bs-external-gray);
    background-color: var(--bs-external-gray);
}
.filter2-dropdown .dropdown-item.active, .filter2-dropdown .dropdown-item:active {
    background-color: var(--bs-external-gray);
}
  }
/* External dashboard css end */


/* professional dashboard css start */
.professional-dashboard{

  .filejet-bg{
    background-color: #E4F8FF;
  }
  .filejet-bg ::-webkit-scrollbar-thumb{
    background-color: var(--bs-pro-blue);
  }
  .quick-action{
    background-color: #0F2843;
  }
  .cardcontainer-d2 .card-d2 {
    border: 0px;
    border-bottom: 3px solid #fff;
  }
  .cardcontainer-d2 .card-d2 .card-headerd2 {
    background-color: var(--bs-pro-blue);
}
  .cardcontainer-d2 .nav-link:not(.active) .card-headerd2 {
    background-color: #fff;
    color: var(--bs-link-color);
  }
  .cardcontainer-d2 .nav-link.active {
    color: var(--bs-pro-blue);
    border: 5px solid var(--bs-pro-blue);
    border-bottom: 0px solid #fff;
  }
  .tab-content-v2 {
    border: 5px solid var(--bs-pro-blue);
  }
  .cardcontainer-d2 .nav-link:not(.active) {
    opacity: 100%;
    background: #fff;
  }

  .sidebar-v2 .menu-link .nav-link.active a {
    background: #E4F8FF;
    color: #1c085a;
  }
  .sidebar-v2 .menu-link .nav-link.active a::after {
    background-image: radial-gradient(circle at 100% 0, white 0%, white 2rem, #d6e8ef 2rem);
  }
  .sidebar-v2 .menu-link .nav-link.active a::before {
    background-image: radial-gradient(circle at 100% 0, white 0%, white 2rem, #daedf4 2rem);
  }
  .entity-regestration-card #ra-other-table-pro th:nth-child(1), .entity-regestration-card #ra-other-table-pro td:nth-child(1) {
    min-width: 10px;
    max-width: 20px;
  }
  .entity-regestration-card #ra-other-table-pro th:nth-child(3), .entity-regestration-card #ra-other-table-pro td:nth-child(3) {
    min-width: 150px;
    max-width: 200px;
  }
  .entity-regestration-card #ra-other-table-pro thead{
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 3;
  }
  .filter2-dropdown input[type=text]:focus-visible {
    background-color: var(--bs-pro-blue);
  }
  .filter2-dropdown .form-check-input[type=checkbox]:checked, .boc-light .boc-filter .boc-filter-menu fieldset div input[type=checkbox]:checked {
    border-color: var(--bs-pro-blue);
    background-color: var(--bs-pro-blue);
  }
  .filter2-dropdown .dropdown-item.active, .filter2-dropdown .dropdown-item:active {
    background-color: var(--bs-pro-blue);
  }
  .custom-select:focus {
    border-color: var(--bs-pro-blue);
    background-color: var(--bs-pro-blue);
  }
  .group-search-d2 button:focus:not(:focus-visible) {
    background-color: var(--bs-pro-blue);
  }

}
/* professional dashboard css end */
