// service order process start
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

:root{
    --bs-nw-gray-600: #565D67;
    --bs-nw-gray-400: #9EA6B3;
    --bs-filejet-medium-gray-opacity-50:rgba(62, 72, 74, 0.50);
    --bs-filejet-medium-gray: #3E484A;

}

.main-dashboard-v2{
  .icon-light-white-check {
    background-image: url("../../../dist/images/icons/light-white-check.svg");
  }
  .icon-new-group {
    background-image: url("../../../dist/images/icons/new-group.svg");
    height: 26px;
    width: 28px;
    margin-left: 5px;
  }
  .icon-input-edit {
    background-image: url("../../../dist/images/icons/input-edit.svg");
  }
  .icon-icon-angle-top {
    background-image: url("../../../dist/images/icons/icon-angle-top.svg");
  }
  .icon-view-checkbox-active {
    background-image: url("../../../dist/images/icons/view-checkbox-active.svg");
    width: 14px;
  }
  .icon-view-checkbox-inactive {
    background-image: url("../../../dist/images/icons/view-checkbox-inactive.svg");
    width: 14px;
  }
  .icon-new-delete {
    background-image: url("../../../dist/images/icons/new-delete.svg");
    width: 14px;
    height: 15px;
  }
  .icon-new-edit {
    background-image: url("../../../dist/images/icons/new-edit.svg");
    width: 14px;
    height: 14px;
  }
  .modal-backdrop{
    background: #565D67;
    mix-blend-mode: multiply;
    --bs-backdrop-opacity: 100%;
  }
  .filter-slideout {
    --bs-modal-width: 550px;
  }

  .group-model{
    font-family: "Sora", sans-serif;

    .form-control{
    min-height: 38px;
    padding: 0px 10px;
    font-size: 12px;
    background-color: transparent;
    border: 1px solid #D2D5DA;
    border-radius: 4.5px;
    margin-bottom: 0px;
    box-shadow: none !important;
    color: var(--bs-filejet-medium-gray-opacity-50);
    background-image: url("../../../dist/images/icons/input-edit.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-position-x: 97%;
    }
    .form-select{
      min-height: 38px;
      padding: 0px 10px;
      font-size: 12px;
      background-color: transparent;
      border: 1px solid #D2D5DA;
      border-radius: 4.5px;
      margin-bottom: 0px;
      box-shadow: none !important;
      color: var(--bs-filejet-medium-gray-opacity-50);
      background-image: none !important;
    }

    input[type=text]:focus-visible{
      border: 1px solid #D2D5DA !important;
    }
    .form-control:focus{
      color: var( --bs-dark);
    }
    .form-label{
      margin-bottom: 0.625rem;
      font-size: 12px !important;
      font-weight: bold;
      color: var(--bs-gray-dark);
    }
    .mandatory{
      color: var(--bs-red);
    }
    .modal-header{
      padding: 15px 20px;
    }
    .modal-body{
      margin-bottom: 80px;
      padding: 20px;
      padding-top: 0px;
    }
    .modal-content{
      padding: 15px 20px;
    }
    .modal-footer{
      position: absolute;
      bottom: 0px;
      background-color: white;
      width: 100%;
      margin: 0px;
      padding: 0px 40px;
      left: 0px;
      box-shadow: 0px 0.627px 25.067px 0px rgba(0, 0, 0, 0.06), 0px 0.188px 7.513px 0px rgba(0, 0, 0, 0.04), 0px 0.1px 3.99px 0px rgba(0, 0, 0, 0.03), 0px 0.042px 1.66px 0px rgba(0, 0, 0, 0.02);
      height: 75px;
    }
    .btn-link{
      font-size: 12px;
      color: var(--bs-nw-gray-400);
      text-transform: uppercase;
    }
    .btn-info{
      height: 38px;
      background-color: var(--bs-purple-indigo);
      border-color: var(--bs-purple-indigo);
    }
    .search-bg{
      background-image: none;
      box-shadow: none;
    }
    .assign-user{
      display: flex; 
      flex-direction: column;
    }
    .accordion button{
      color: var(--bs-filejet-medium-gray);
      font-size: 14px;
      font-weight: 600;
    }
    .accordion-item{
      box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.10) !important;
    }
    .dataTables_wrapper thead th {
      font-size: 0.8rem !important;
      padding: 0.9rem 0.9rem !important;
      text-transform: capitalize !important;
    }
    .dataTables_wrapper thead th:first-child::after {
      display: none !important;
  }
  .dataTables_wrapper thead th:first-child::before {
    display: none !important;
}
    .dataTables_wrapper tbody td{
      font-size: 0.8rem !important;
      padding: 0.9rem 0.9rem !important;
    }

    .dataTables_wrapper.no-footer .dataTables_scrollBody{
      overflow: unset !important;
      height: 100% !important;
      max-height: 100% !important;
    }
    .odd {
      background-color: #F3F5F8 !important;
    }
    .dataTables_wrapper .dataTables_info {
      float: right !important;
      padding-right: 0px !important;
      position: relative;
      left: 20%;
      padding-top: 10px !important;
      padding-bottom: 10px !important;
  }
   .dataTables_wrapper .dataTables_paginate {
    position: relative;
    right: 50%;
    padding: 0px !important;
   }
  .accordion-button:not(.collapsed)::after{
  background-image: url("../../../dist/images/icons/icon-angle-top.svg");
  }
  .form-check-input:checked[type=radio]{
    background-image: url("../../../dist/images/icons/view-checkbox-active.svg") !important;
   }
   .form-check-input[type=radio]{
    background-image: url("../../../dist/images/icons/view-checkbox-inactive.svg") !important;
   }

  .view-options {
    .view-label{
      color: var(--bs-nw-gray-600);
      font-weight: 600;
      text-transform: uppercase;
      font-size: 12px;
    }
   .form-check label{
    text-transform: capitalize !important;
    font-weight: normal !important ;
   }

   .non-active-check{
    color: var(--bs-nw-gray-400);
   }

}
.btn-small{
    padding: 10px 20px !important;
    margin: 0px !important;
    text-align: center;
    font-size: 12px !important;
    font-weight: bold !important;
    background-color: #A8B1FF;
    border: 0px;
    color: var(--bs-dark) !important;
    line-height: 20px;
    border-radius: 5px !important;
}
.custom-dropdown select:focus {
  box-shadow: none;
  border: 2px solid var(--bs-purple-indigo);
  background-color:#F2F2FF;
  color: var(--bs-filejet-medium-gray);
  font-weight: bold;
}
.custom-dropdown option {
  box-shadow: none;
  background-color:white;
  color: var(--bs-filejet-medium-gray);
}
.hidden-method{
  display: none;
}
.payment-card {
  padding: 12px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 10px;
}
.methodiv{
  width: 80px;
}
.methodcard{
  width: 130px;
}


    .service-step-group {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      position: relative;
  
      .step {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 1;
        position: relative;
        left: -38px;
    }
    .step::after {
        content: "";
        position: absolute;
        width: 68%;
        height: 2.5px;
        background-color: var(--bs-nw-gray-400);
        top: 12px;
        left: 60%;
        z-index: 1;
    }
    
    .step.completed::after {
        background-color: var(--bs-green);
      }
    
    .step:last-child::after {
        display: none;
    }
    
    .circle {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        border: 2px solid var(--bs-nw-gray-600);
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        flex-shrink: 0;
        position: relative;
        left: -5%;
    }
    
    .circle.completed {
        background-color: var(--bs-green);
        border-color: var(--bs-green);
        background-image: url("../../../dist/images/icons/light-white-check.svg");
        background-repeat: no-repeat;
        background-position: center;
    }
    
    .circle.active {
        border-color: var(--bs-purple-indigo);
    }
    
    .circle.active::before {
        content: "";
        position: absolute;
        width: 18px;  
        height: 18px;
        background-color: #A8B1FF; 
        border-radius: 50%;
    }
    
    .circle.active::after {
        content: "";
        position: absolute;
        width: 7px; 
        height: 7px;
        background-color: var(--bs-purple-indigo); 
        border-radius: 50%;
    }
    
    .step-text {
      margin-top: 8px;
      font-size: 12px;
      font-weight: normal;
      color: var(--bs-nw-gray-600);
      text-align: center;
      width: 125px;
      display: flex;
      align-items: center;
      justify-content: center;
      max-width: 125px;
      letter-spacing: -0.04px;
    }
    
    .circle.active + .step-text {
        color: var(--bs-purple-indigo);
        font-weight: bold;
    }
  }
  
  }
  
}