// service order process start

:root{
    --bs-nw-gray-600: #6E7683;
    --bs-nw-gray-400: #9EA6B3;
    --bs-filejet-medium-gray-opacity-50:rgba(62, 72, 74, 0.50);
    --bs-filejet-medium-gray: #3E484A;

}

.main-dashboard-v2{
  .icon-light-white-check {
    background-image: url("../../../dist/images/icons/light-white-check.svg");
  }
  .icon-new-group {
    background-image: url("../../../dist/images/icons/new-group.svg");
  }
  .icon-input-edit {
    background-image: url("../../../dist/images/icons/input-edit.svg");
  }
  .icon-icon-angle-top {
    background-image: url("../../../dist/images/icons/icon-angle-top.svg");
  }
  .modal-backdrop{
    background: #565D67;
    mix-blend-mode: multiply;
    --bs-backdrop-opacity: 100%;
  }
  .filter-slideout {
    --bs-modal-width: 550px;
  }

  .group-model{
    .form-control{
    min-height: 38px;
    padding: 0px 10px;
    font-size: 12px;
    background-color: transparent;
    border: 1px solid #D2D5DA;
    border-radius: 4.5px;
    margin-bottom: 0px;
    box-shadow: none !important;
    color: var(--bs-filejet-medium-gray-opacity-50);
    background-image: url("../../../dist/images/icons/input-edit.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-position-x: 97%;
    }

    input[type=text]:focus-visible{
      border: 1px solid #D2D5DA !important;
    }
    .form-control:focus{
      color: var( --bs-dark);
    }
    .form-label{
      margin-bottom: 0.625rem;
      font-size: 12px !important;
      font-weight: bold;
      color: var(--bs-gray-dark);
    }
    .mandatory{
      color: var(--bs-red);
    }
    .modal-header{
      padding: 20px;
    }
    .modal-body{
      margin-bottom: 80px;
      padding: 20px;
      padding-top: 0px;
    }
    .modal-content{
      padding: 20px;
    }
    .modal-footer{
      position: absolute;
      bottom: 0px;
      background-color: white;
      width: 100%;
      margin: 0px;
      padding: 0px 40px;
      left: 0px;
      box-shadow: 0px 0.627px 25.067px 0px rgba(0, 0, 0, 0.06), 0px 0.188px 7.513px 0px rgba(0, 0, 0, 0.04), 0px 0.1px 3.99px 0px rgba(0, 0, 0, 0.03), 0px 0.042px 1.66px 0px rgba(0, 0, 0, 0.02);
      height: 75px;
    }
    .btn-link{
      font-size: 12px;
      color: var(--bs-nw-gray-400);
      text-transform: uppercase;
    }
    .btn-info{
      height: 38px;
      background-color: var(--bs-purple-indigo);
      border-color: var(--bs-purple-indigo);
    }
    .search-bg{
      background-image: none;
      box-shadow: none;
    }
    .assign-user{
      display: flex; 
      flex-direction: column;
    }
    .accordion button{
      color: var(--bs-filejet-medium-gray);
      font-size: 14px;
      font-weight: 600;
    }
    .dataTables_wrapper thead th {
      font-size: 0.8rem !important;
      padding-top: 1rem !important;
      padding-bottom: 1rem !important;
      text-transform: capitalize !important;
    }
    .dataTables_wrapper tbody td{
      font-size: 0.8rem !important;
      padding-top: 1rem !important;
      padding-bottom: 1rem !important;
    }

    .dataTables_wrapper.no-footer .dataTables_scrollBody{
      overflow: unset !important;
    }
    .odd {
      background-color: #F3F5F8 !important;
    }
   .dataTables_wrapper .dataTables_paginate {
    position: relative;
    right: 50%;
    padding: 0px !important;
   }
  .dataTables_wrapper .dataTables_paginate {
   position: relative;
   right: 50%;
   padding: 0px !important;
   }
  .accordion-button:not(.collapsed)::after{
  background-image: url("../../../dist/images/icons/icon-angle-top.svg");
  }
    .service-step-group {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      position: relative;
  
      .step {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 1;
        position: relative;
        left: -30px;
    }
    .step::after {
        content: "";
        position: absolute;
        width: 65%;
        height: 1.8px;
        background-color: var(--bs-nw-gray-400);
        top: 12px;
        left: 67%;
        z-index: 1;
    }
    
    .step.completed::after {
        background-color: var(--bs-green);
      }
    
    .step:last-child::after {
        display: none;
    }
    
    .circle {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        border: 1.5px solid var(--bs-nw-gray-600);
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        flex-shrink: 0;
    }
    
    .circle.completed {
        background-color: var(--bs-green);
        border-color: var(--bs-green);
        background-image: url("../../../dist/images/icons/light-white-check.svg");
        background-repeat: no-repeat;
        background-position: center;
    }
    
    .circle.active {
        border-color: var(--bs-purple-indigo);
    }
    
    .circle.active::before {
        content: "";
        position: absolute;
        width: 18px;  
        height: 18px;
        background-color: #A8B1FF; 
        border-radius: 50%;
    }
    
    .circle.active::after {
        content: "";
        position: absolute;
        width: 7px; 
        height: 7px;
        background-color: var(--bs-purple-indigo); 
        border-radius: 50%;
    }
    
    .step-text {
      margin-top: 8px;
      font-size: 12px;
      font-weight: normal;
      color: var(--bs-nw-gray-600);
      text-align: center;
      width: 115px;
      display: flex;
      align-items: center;
      justify-content: center;
      max-width: 115px;
      letter-spacing: -0.04px;
    }
    
    .circle.active + .step-text {
        color: var(--bs-purple-indigo);
        font-weight: bold;
    }
  }
  
  }
  
}