

.quick-actions{
    background-color: #1C085A;


    .text-placeholder-d2 {
        color: var(--bs-black-primary);
        opacity: .5;
        font-size: 1.1875rem;
        line-height: 1;
        min-width: max-content;
        cursor: pointer;
        font-weight: normal;
    }
}