.selectPicker{
    .bootstrap-select .dropdown-toggle:focus, .bootstrap-select>select.mobile-device:focus+.dropdown-toggle {
        outline: 0 dotted #333!important;
        outline: 0px auto -webkit-focus-ring-color!important;
        outline-offset: 0px; 
    }
    .bs-searchbox {
        @extend .position-relative;
        // &::after{
        //     content: "Search";
        //     @extend .position-absolute,.opacity-50,.top-50,.ps-5,.ms-4,.translate-middle;
        // }
        input.form-control{
            min-height: 41px !important;
            height: 41px !important;
            
        }
    }
}