.registeredAgent_tablist {
    position: relative;
    background-color: #F3F5F8;
    max-width: fit-content;
    border-radius: 5px;

    &::after {
        position: absolute;
        content: "";
        background-color: #D8DDDF;
        top: anchor(--tab-anchor top);
        left: anchor(--tab-anchor left);
        width: anchor-size(--tab-anchor inline);
        height: anchor-size(--tab-anchor block);
        position-anchor: --tab-anchor;
        transition: all 0.5s ease-in-out;
        z-index: 0;
        border-radius: 5px;
    }

    .nav-link {
        position: relative;
        z-index: 1;
        color: var(--bs-nw-gray-600);
        font-size: 14px;

        &[aria-selected=true],
        &.active {
            anchor-name: --tab-anchor;
            color: $color-gray-900;
            font-weight: 700;
        }
    }
}


.registeredAgentTableCard {

    .dataTables_wrapper tbody td {
        font-weight: 400 !important;
        color: var(--bs-black-primary) !important;
        font-size: 12px !important;
        padding: 0.8rem 0.8rem !important;
        line-height: 1.25rem !important;

        .btn {
            font-size: 11px !important;
        }

        .btn-acknowledge {
            background-color: #FF551A !important;
            border-color: #FF551A !important;
        }
    }


    .dataTables_wrapper .dataTables_scroll {

        .dataTables_scrollHeadInner,
        .dataTable {
            width: inherit !important;
            max-width: inherit !important;
            min-height: 0 !important;
        }

        .dataTables_scrollBody {
            overflow-y: hidden !important;
        }
    }

    table,
    .dataTable {

        thead {
            th:nth-child(n) {
                padding: 0.8rem !important;
            }

            th:first-child {
                border-top-left-radius: 5px;
            }

            th:last-child {
                border-top-right-radius: 5px;
            }
        }

        tbody tr:last-child {
            td {
                border: none !important;
            }

            & td:first-child {
                border-bottom-left-radius: 5px;
            }

            & td:last-child {
                border-bottom-right-radius: 5px;
            }
        }
    }

    .sopNotificationTable {
        .dataTables_wrapper .dataTable {
            thead {

                th:nth-child(n) {
                    min-width: 85px !important;
                }

                th:first-child {
                    min-width: 110px !important;
                }

                th {

                    &:nth-child(1),
                    &:nth-child(2),
                    &:nth-child(3) {
                        max-width: 180px !important;
                    }
                }

                th:last-child {
                    min-width: 100px !important;
                }
            }

            tbody {
                tr td:last-child div {
                    width: 100% !important;
                    max-width: 120px !important;
                }
            }
        }
    }

    .dropdown {
        .dropdown-toggle {
            display: flex;
            align-items: center;
            justify-content: space-between;

            &:hover {
                color: white !important;
                background-color: #2E2E36 !important;
            }

            &::after {
                border: none !important;
                width: 11px;
                height: 11px;
                background-image: url("../../../../dist/images/icons/white-angle-bottom.svg");
                background-repeat: no-repeat;
                background-position: center;
                transition: transform 0.2s ease-in-out;
            }

            &.show::after {
                transform: rotate(-180deg);
            }
        }

        .dropdown-menu {
            z-index: 200;

            .dropdown-item {
                padding: 11.5px 13px;

                &:hover,
                &:active,
                &:focus,
                &.active {
                    color: var(--bs-dropdown-link-hover-color);
                    background-color: var(--bs-dropdown-link-hover-bg);
                }
            }
        }
    }
}


.calendar-wrapper {
    position: relative;
    min-height: 38px;

    .form-label {
        text-transform: capitalize !important;
        font-size: 14px !important;
        font-weight: normal;
        flex-shrink: 0;
        margin: 0;
    }

    .form-control {
        background-image: url("../../../../dist/images/icons/calander-icon-light.svg") !important;
        background-size: 14px !important;
        background-position-x: 95% !important;
        background-repeat: no-repeat !important;
        background-position-y: 40% !important;
        margin: 0 !important;
        min-height: 0 !important;
        box-shadow: none !important;
        font-weight: normal;
        z-index: 300;
    }

    .icon-add-tag {
        transform: rotate(45deg);
        position: absolute;
        margin: 0 !important;
        width: 1rem;
        right: 13% !important;
        cursor: pointer;
        display: none;
    }
}


.ra-tab-content{
    .search-input{
        padding-inline: 0 !important;
    }
}