.first-org-chart-modal{
    .welcomeText{
        font-size: 4.5rem;
        background: -webkit-linear-gradient(#AB65EF, #6741DF);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    p.selectOptionText{
        color: var(--bs-gray-700);
    }
    .selectOption,.uploadFile,.chooseTemplate{
        div h4{
            color: #6741DF;
        } 
    }
    .chooseTemplate{
        .templates{
            cursor: pointer;
            &.active{
                @extend .purple-bg,.text-white;
                h4{
                    @extend .text-white;
                }
            }
        } 
        
    }
}