[data-l-id] path {
    stroke: #AB65EF;
    stroke-width: 2;
}

[data-ctrl-n-menu-id] circle {
    fill: black;
}

#tree>svg {
    background-color: #F3F5F8;
    font-family: var(--bs-body-font-family);
}

[data-n-id] rect {
    filter: drop-shadow(0px 0.4375rem 0.75rem rgba(0, 0, 0, .1));
    stroke-opacity: 25%;
}

[data-n-id] rect {
    fill: #fff;
}

.boc-light .boc-fill {
    fill: #fff;
    stroke-opacity: 0.25;
}

.boc-light .boc-fill+line {
    stroke: #000;
}

.boc-light {
    font-family: var(--bs-body-font-family) !important;

    .boc-chart-menu [data-item] {
        border-bottom: none !important;
        align-items: center !important;
        display: flex !important;
        gap: 8px !important;
    }
}

.boc-chart-menu {
    min-width: 180px !important;
}

.boc-light {
    overflow: visible !important;
    .boc-edit-form-fields {
        @extend .px-3, .me-4;
    }

    .boc-edit-form-fields::-webkit-scrollbar {
        width: rem(6);
        height: rem(6);
    }

    .boc-edit-form-fields::-webkit-scrollbar-track {
        box-shadow: none;
        background-color: var(--bs-gray-500);
        border-radius: rem(0);
    }

    .boc-edit-form-fields::-webkit-scrollbar-thumb {
        background-color: var(--bs-gray-700);
        outline: 1px solid var(--bs-tranparent);
        border-radius: rem(0);
    }

    .boc-chart-menu [data-item]:hover {
        background-color: #fff !important;
        color: #AB65EF !important;
        cursor: pointer;
    }

    .boc-edit-form-title {
        @extend .font-weight-600;
    }

    .boc-chart-menu [data-item] svg {
        filter: none !important;
        fill: #231F20;
    }

    .boc-chart-menu [data-item]:hover svg {
        filter: none !important;
        fill: #AB65EF;
    }


    .boc-toolbar-container {
        background: #fff !important;
        border-radius: 7px !important;
        position: fixed !important;
        padding: 12px !important;
        right: 87px !important;
        bottom: -11px !important;
        transform: rotate(90deg);
        filter: drop-shadow(0px 0.4375rem 0.75rem rgba(0, 0, 0, .1));

        svg {
            cursor: pointer;
            margin: 10px 0;
        }

        div[data-tlbr="minus"] {
            svg {
                transform: rotate(90deg);
            }
        }

        div[data-tlbr="layout"] {
            position: fixed;
            top: 0px;
            right: 44px;
            transform: rotate(0deg) translateX(0px) translateY(0px) !important;
        }
    }

    div[data-id="mini-map"] {
        position: fixed !important;
        right: 24px !important;
        bottom: 107px !important;
        @extend .rounded-2, .border-0, .shadow;
        // border-radius: 10px !important;
    }

    .boc-chart-menu [data-item]:hover {
        background-color: #fff !important;
        color: #AB65EF !important;
        cursor: pointer;
    }

    .boc-img-button {
        background-color: transparent !important;
        position: absolute !important;
        top: 0 !important;
        left: 18px !important;
    }

    .boc-form-fieldset {
        @extend .gap-3;
    }

    .boc-edit-form>.boc-form-fieldset {
        display: none;
    }
    .boc-search{
        top: -73px !important;
        right: 130px !important;
        z-index: 9;
        .boc-form-field{
            height: 56px;
            margin: 0;        
            .boc-input{
                &::after{
                    content: "";
                    right: 5px;
                    @extend .position-absolute,.top-50,.translate-middle,.opacity-100,.icon,.icon-search-grey,.icon-sm;
                }
                input {
                    background-color: #FFF !important;
                    height: 56px;
                    @extend .rounded-2,.shadow,.border-0,.px-4,.py-0;
                    &:focus{
                        background-color: #fff;
                    }
                } 
                label{
                    &::after{
                        @extend .d-none;
                    }
                    &.focused{
                        top:8px;
                    }
                    top: 20px;
                    left: 11px;
                    @extend .d-block,.text-capitalize,.opacity-50,.fs-6;
                }
                .boc-link-boc-button{
                    @extend .d-none;
                }
            }
        }
    }
    div[data-ctrl-menu]{
        right: 2px !important;
        top: -49px !important;
        hr{
            background-color: #231F20 !important;
            height: 2px !important;
            width: 22px;
            @extend .opacity-100,.mb-2;
        }
    }
    .boc-chart-menu{
        z-index: 9;
        top: -12px !important;
        font-family: var(--bs-body-font-family);
        @extend .py-3,.px-2,.bg-white,.fs-6;
    }

    .boc-edit-form {
        width: 500px;
        z-index: 9;
        @extend .rounded-0, .position-fixed;
    }

    
    @media (max-width:1280px) {
        .boc-search{
         top: -69px !important;
         right: 112px !important; 
         .boc-form-field{
            .boc-input{
                label{
                    top: 22px;
                }
             }
         }
        }
     }

    .boc-input>input,
    .boc-input>select {
        height: 60px;
        background-color: #f3f5f8 !important;
        @extend .border-0;
    }

    .boc-input>input,
    .boc-input>select,
    .boc-input>label {
        color: #0D2C36 !important;
    }

    .boc-input>label.focused,
    .boc-input>label.hasval {
        top: 10px;
        overflow: unset;
    }

    .boc-input>input:focus {
        background-color: #F3F5F8 !important;
        color: #0D2C36
    }

    div[data-boc-input] label::after {
        @extend .icon, .icon-info-black, .position-absolute;
        content: "";
        top: -2px;
        right: -18px;
    }

    div[data-boc-input-disabled] label::after {
        @extend .d-none;
    }

    .boc-form-field .boc-input .focused {
        margin-bottom: 0px;
        color: #0D2C36 !important;
    }

    .accordion button {
        @extend .text-black-primary;
    }
}

// 
.boc-edit-form {
    .boc-edit-form-header {
        background-image: linear-gradient(to bottom, #AB65EF, #6741DF);
        border-radius: 0px;
    }
}




// custom org select
/* Hide the original select element */
.org-custom-select select {
    display: none;
}

/* Style the custom select container */
.org-custom-select {
    position: relative;
    display: inline-block;
}

/* Style the selected option */
.org-select-selected {
    background-color: #fff;
    text-align: left;
    padding: 14px 16px;
    border-radius: var(--bs-border-radius);
    min-width: 180px;
    height: 56px;
    display: flex;
    align-items: center;
    cursor: pointer;

}

.org-custom-select .org-select-selected::after {
    content: "";
    top: 19px;
    right: 22px;
    position: absolute;
    background-image: url('/dist/images/icons/chevron-down-org.svg');
    width: 1.2rem;
    height: 1.2rem;
    background-size: cover;
}


/* Style the select items/options */
.org-select-items {
    position: absolute;
    top: 52px;
    background-color: #fff;
    border-radius: var(--bs-border-radius);
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    min-width: 180px;
    z-index: 1;
    display: none;
}

.org-select-selected.org-select-selected2 {
    min-width: 168px;
}

.org-select-items.org-select-items2 {
    min-width: 168px;
}

.org-select-items div {
    padding: 8px 16px;
    cursor: pointer;
    text-align: center;
}

.org-select-items .div {
    text-align: center;
}

.org-select-items .div1:hover {
    background-color: #F3F5F8;
    border-radius: 8px;
}

.btnSearch {
    width: 320px;
}

.btnFilter {
    button:first-child .active {
        @extend .btn-info;
    }
}