[data-l-id] path {
    stroke: #AB65EF;
    stroke-width: 2;
}

[data-ctrl-n-menu-id] circle {
    fill: black;
}

#tree>svg {
    background-color: #F3F5F8;
    font-family: var(--bs-body-font-family);
}

[data-n-id] rect {
    filter: drop-shadow(0px 0.4375rem 0.75rem rgba(0, 0, 0, .1));
    stroke-opacity: 25%;
}

[data-n-id] rect {
    fill: #fff;
}

.boc-light .boc-fill {
    fill: #fff;
    stroke-opacity: 0.25;
}

.boc-light .boc-fill+line {
    stroke: #000;
}

.boc-light {
     font-family: var(--bs-body-font-family) !important;
    .boc-chart-menu [data-item] {
        border-bottom: none !important;
        align-items: center !important;
        display: flex !important;
        gap: 8px !important;
    }
}

.boc-chart-menu {
    min-width: 180px !important;
}

.boc-light {
    .boc-chart-menu [data-item]:hover {
        background-color: #fff !important;
        color: #AB65EF !important;
        cursor: pointer;
    }

    .boc-chart-menu [data-item] svg {
        filter: none !important;
        fill: #231F20;
    }

    .boc-chart-menu [data-item]:hover svg {
        filter: none !important;
        fill: #AB65EF;
    }

    .boc-toolbar-container {
        background: #fff !important;
        border-radius: 7px !important;
        position: fixed !important;
        padding: 12px !important;
        right: 87px !important;
        bottom: -11px !important;
        transform: rotate(90deg);
        filter: drop-shadow(0px 0.4375rem 0.75rem rgba(0, 0, 0, .1));

        svg {
            cursor: pointer;
            margin: 10px 0;
        }

        div[data-tlbr="minus"] {
            svg {
                transform: rotate(90deg);
            }
        }

        div[data-tlbr="layout"] {
            position: fixed;
            top: 0px;
            right: 44px;
            transform: rotate(0deg) translateX(0px) translateY(0px) !important;
        }
    }

    div[data-id="mini-map"] {
        position: fixed !important;
        right: 24px !important;
        bottom: 107px !important;
        @extend .rounded-2, .border-0, .shadow;
        // border-radius: 10px !important;
    }
    .boc-chart-menu [data-item]:hover {
        background-color: #fff !important;
        color: #AB65EF !important;
        cursor: pointer;
    }
    .boc-img-button{
        background-color: transparent !important;
        position: absolute !important;
        top: 0 !important;
        left: 18px !important;
    }
    .boc-form-fieldset{
        @extend .gap-3;
    }
    .boc-edit-form > .boc-form-fieldset{
        display: none;
    }
    .boc-edit-form{
        width: 500px;
        z-index: 9;
        @extend .rounded-0,.position-fixed;
    }
    .boc-form-field .boc-input input{
        background-color:#F3F5F8;
        border:0;
    }
    .boc-input>input, .boc-input>select{
        height: 60px;
    }
    .boc-input>input, .boc-input>select,.boc-input>label{
        color: #0D2C36 !important;
    }
    .boc-input>label.focused, .boc-input>label.hasval {
        top: 10px;
    }
    .boc-input>input:focus{
        background-color:#F3F5F8;
        color: #0D2C36 
    }
    .boc-form-field .boc-input .focused{
        margin-bottom: 0px;
        color: #0D2C36 !important;
    }
    .accordion button{
        @extend .text-black-primary;
    }
}

// 
.boc-edit-form {
    .boc-edit-form-header {
        background-image: linear-gradient(to bottom, #AB65EF, #6741DF);
        border-radius: 0px;
    }
}




// custom org select
/* Hide the original select element */
.org-custom-select select {
    display: none;
}

/* Style the custom select container */
.org-custom-select {
    position: relative;
    display: inline-block;
}

/* Style the selected option */
.org-select-selected {
    background-color: #fff;
    text-align: left;
    padding: 14px 16px;
    border-radius: var(--bs-border-radius);
    min-width: 180px;
    height: 56px;
    display: flex;
    align-items: center;
    cursor: pointer;
    
}

.org-custom-select .org-select-selected::after {
    content: "";
    top: 19px;
    right: 22px;
    position: absolute;
    background-image: url('/dist/images/icons/chevron-down-org.svg');
    width: 1.2rem;
    height: 1.2rem;
    background-size: cover;
}


/* Style the select items/options */
.org-select-items {
    position: absolute;
    top: 52px;
    background-color: #fff;
    border-radius: var(--bs-border-radius);
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    min-width: 180px;
    z-index: 1;
    display: none;
}
.org-select-selected.org-select-selected2{
    min-width: 168px;
}
.org-select-items.org-select-items2{
    min-width: 168px;
}
.org-select-items div {
    padding: 8px 16px;
    cursor: pointer;
    text-align: center;
}

.org-select-items .div {
    text-align: center;
}

.org-select-items .div1:hover {
    background-color: #F3F5F8;
    border-radius: 8px;
}

.btnSearch{
    width: 320px;
}
.btnFilter{
    button:first-child .active{
        @extend .btn-info;
    }
}