.nav-tab-dots {

  .nav-link {
    padding: rem(20) rem(24);
    border-radius: rem(12) rem(12) 0 0;
    letter-spacing: 0;
  }

  .dot {
    width: rem(10);
    height: rem(10);
    display: inline-block;
    border-radius: 50%;
    margin-right: rem(16);
    --bs-bg-opacity: 1;
    background-color: var(--bs-black);

    .calender-input {
      position: relative;
    }
  }

  .active {
    .dot {
      background-color: var(--bs-purple);
    }
  }

}

$--fc-button-bg-color: #fff;

.fc .fc-col-header-cell-cushion,
.fc-daygrid-day-number {
  text-decoration: none !important;
}

.fc .fc-toolbar-chunk {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.fc .fc-toolbar-title {
  padding: 0 18px;
}

// full calendar classes
.fc .left-toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.fc .fc-button-primary {
  background-color: #fff !important;
  color: black !important;
  border: transparent !important;
  padding: 0.75rem 1.125rem !important;
}

.fc .fc-button-primary.fc-button-hover {
  color: var(--bs-white) !important;
  background-color: var(--bs-black) !important;
  box-shadow: none !important;
  border: none !important;
}

.fc .fc-button-primary.fc-button-active {
  color: var(--bs-white) !important;
  background-color: var(--bs-purple) !important;
  border: none !important;
  box-shadow: none !important;
}

.fc .caledar-event-overdue {
  padding: 13px 15px;
  background-color: var(--bs-red-rgba-100);
  border: none;
  box-shadow: inset 4px 0px 0px #FF4201, inset 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.fc .caledar-event-upcoming {
  padding: 13px 15px;
  background-color: lightgray;
  border: none;
  box-shadow: inset 4px 0px 0px #231F20, inset 0px -1px 0px rgba(0, 0, 0, 0.1);
}