.nav-tab-dots {

  .nav-link {
    padding: rem(20) rem(24);
    border-radius: rem(12) rem(12) 0 0;
    letter-spacing: 0;
  }

  .dot {
    width: rem(10);
    height: rem(10);
    display: inline-block;
    border-radius: 50%;
    margin-right: rem(16);
    --bs-bg-opacity: 1;
    background-color: var(--bs-black);

    .calender-input {
      position: relative;
    }
  }

  .active {
    .dot {
      background-color: var(--bs-purple);
    }
  }
}