img {
  max-width: 100%;
}

.box-shadow {
  box-shadow: 0px 7px 12px rgb(0 0 0 / 10%);
}

.box-shadow-inner {
  box-shadow: 0px 7px 12px rgb(0 0 0 / 10%) inset;
}

.full-width {
  .container {
    max-width: 100%;
  }
}

.count {
  padding: 0 rem(15);
  font-weight: 500;
  font-size: rem(15);
  line-height: rem(26);
  text-align: center;
  color: var(--bs-gray-700);
  border-radius: 50px;
  /*min-width: 40px;*/
  display: inline-block;
}

.count-grey {
  background: #d8dddf;
}

.nav-circluar {
  border-bottom: none;
  .nav-link {
    border-radius: rem(50);
    padding: rem(5) rem(10);
    text-transform: none !important;
    font-size: rem(16);
    line-height: rem(20);
    font-weight: 400;

    &.active {
      background: linear-gradient(224.01deg, #6e72ee -5.3%, #595ddc 100%);
      color: var(--bs-white);
    }

    &:hover {
      border-color: transparent;
    }
  }
}

.letter-avatar {
  font-size: rem(30);
  line-height: rem(16);
  letter-spacing: 0.1px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: rem(50);
  height: rem(50);
  border-radius: 50%;
  color: var(--bs-white);
  background: var(--bs-gray-700);
  text-transform: uppercase;
  margin: 0;
}

.notification-dot {
  top: 0;
  right: rem(24);
  width: rem(8);
  height: rem(8);
  border-radius: rem(15);
  background: var(--bs-red);
  position: absolute;
}

.vertical-scroll {
  overflow-y: auto;
  height: 590px;
}

.red-bg {
  background-color: var(--bs-red);
}

.blue-bg {
  background-color: var(--bs-blue);
}

.grey-bg {
  background-color: var(--bs-gray-light);
}

.purple-bg {
  background: var(--bs-purple);
}

.purple-bg-light {
  background: var(--bs-purple-light);
}

.green-bg {
  background: var(--bs-green);
}

.white-bg {
  background: var(--bs-white);
}

.text-grey {
  color: var(--bs-gray-800);
}

.text-red {
  color: var(--bs-red);
}

.text-orange {
  color: var(--bs-orange);
}

.text-blue {
  color: var(--bs-blue);
}

.text-light-blue {
  color: var(--bs-light-blue);
}

.text-purple {
  color: var(--bs-purple) !important;
}

.text-green {
  color: var(--bs-green);
}

.progress-red {
  background: var(--bs-red-rgba-100);
}

.progress-bar-red {
  background: var(--bs-red);
}

.progress-orange {
  background: var(--bs-orange-rgba-100);
}

.progress-bar-orange {
  background: var(--bs-orange);
}

.progress-bar-grey {
  background: var(--bs-gray-800);
}

.text-opacity-70 {
  opacity: 0.7;
}

.font-weight-700 {
  font-weight: 700;
}

.font-weight-600 {
  font-weight: 600;
}

.font-weight-500 {
  font-weight: 500;
}

.font-weight-400 {
  font-weight: 400;
}

.text-xl {
  font-weight: 400;
  font-size: 8rem;
  line-height: 0.8;
  letter-spacing: 0.08em;
}

.text-l {
  font-weight: 400;
  font-size: 4.75rem;
  line-height: 0.8;
  letter-spacing: 0.08em;
}

.count-notification {
  background: linear-gradient(144.76deg, var(--bs-red) 9.17%, #e71894 92.89%);
  color: var(--bs-white);
  width: rem(14);
  height: rem(14);
  border-radius: 50%;
  font-size: rem(8);
  display: flex;
  justify-content: center;
  align-items: center;
  right: -16px;
  top: 0;
}

.small-tag {
  background: var(--bs-light-blue);
  color: var(--bs-white);
  border-radius: rem(7);
  padding: 0 rem(7);
  font-size: rem(11);
  line-height: rem(15);
  letter-spacing: -0.05px;
  display: block;
  max-width: 80px;
  white-space: nowrap;
}

.circle {
  width: rem(20);
  height: rem(20);
  display: inline-block;
  vertical-align: middle;
}

.modal {
  .nav-link {
    padding: rem(16) rem(32);
    border: none;

    &.active {
      box-shadow: 0px 12px 30px rgba(0, 0, 0, 0.1);
    }
  }

  .tab-content {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    position: relative;

    table {
      td:first-child,
      th:first-child {
        padding-left: rem(26);
      }
    }
  }

  .nav-tabs {
    border-bottom: none;
  }
}

.list-table {
  li {
    div {
      width: 100%;
    }

    div:first-child {
      flex: 0 0 rem(64);
    }

    div:last-child {
      flex: 0 0 rem(140);
    }
  }
}

input:focus-visible {
  border: none !important;
  outline: none !important;
}

.filter-btn {
  background: var(--bs-white);
  font-weight: 600;
  @extend .box-shadow;
  &:hover {
    background: var(--bs-white);
  }
}

body *::-webkit-scrollbar {
  width: rem(2);
}

body *::-webkit-scrollbar-track {
  box-shadow: none;
  background-color: var(--bs-purple-light);
}

body *::-webkit-scrollbar-thumb {
  background-color: var(--bs-purple);
  outline: 1px solid var(--bs-tranparent);
}

form {
  h3 {
    font-weight: 700;
    font-size: rem(18);
    line-height: rem(20);
    letter-spacing: 0.04em;
    margin: rem(30) 0;
  }
}

.avatar {
  width: rem(28);
  height: rem(28);
  overflow: hidden;
  border-radius: 100%;
  margin-right: 10px;

  img {
    max-width: 100%;
    max-height: 100%;
  }
}

.avatar-xl {
  width: rem(44);
  height: rem(44);
}

.avatar-sm {
  width: rem(24);
  height: rem(24);
}

.radio-group {
  border-radius: rem(8);
  padding: rem(20);
  background: var(--bs-gray-200);
}

.form-check .form-check-label.form-label {
  position: relative;
  top: 5px;
}

.radio-checkbox-group {
  .form-check {
    margin: rem(5) 0;
  }

  label {
    margin: 0;
    position: relative;
    top: 5px;
  }
}

.radio-checkbox-group-fixed {
  max-height: rem(274);
  overflow-x: auto;
  .form-check {
    width: 20%;
  }
}

.border-left {
  border-left: 1px solid rgba(13, 44, 54, 0.24);
}

.step-group {
  display: flex;
  margin-bottom: 30px;

  .step {
    > div {
      font-weight: 700;
      font-size: rem(21);
      line-height: 150%;
      letter-spacing: 0.04em;
      color: rgb(13 44 54 / 40%);
      width: rem(48);
      height: rem(48);
      background: rgb(13 44 54 / 10%);
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 rem(15);
      position: relative;
      z-index: 2;

      &:after {
        content: "";
        position: absolute;
        width: rem(31);
        height: rem(2);
        background: rgba(13, 44, 54, 0.1);
        left: rem(-31);
        z-index: 0;
      }
    }

    &:first-child {
      > div {
        margin-left: 0;

        &:after {
          content: none;
        }
      }
    }

    .text {
      letter-spacing: 0.996px;
      text-transform: uppercase;
      font-weight: 700;
      font-size: rem(12);
      line-height: rem(16);
      opacity: 0.5;
      text-align: center;
      margin: rem(10) rem(10) 0 0;
      display: block;
    }

    .icon {
      display: none;
    }

    &.completed {
      > div {
        background-color: var(--bs-green);
        font-size: 0;

        &:after {
          background: var(--bs-green);
        }
      }

      .icon {
        display: block;
      }

      .text {
        color: var(--bs-green);
        opacity: 1;
      }
    }

    &.active {
      > div {
        background: var(--bs-purple);
        color: var(--bs-white);

        &:after {
          background: var(--bs-purple);
        }
      }

      .text {
        color: var(--bs-purple);
        opacity: 1;
      }
    }
  }

  &.step-space-1 {
    .step {
      > div {
        margin: 0 rem(60);

        &:after {
          width: rem(120);
          left: auto;
          right: 100%;
        }
      }
    }
  }
}

.card-secondry {
  padding: 15px;
  &.grey-card-secondry {
    background: #f3f5f8;
    border-left: 3px solid grey;
  }
  &.red-card-secondry {
    background: var(--bs-red-rgba-100);
    border-left: 3px solid var(--bs-red);
  }
}

.table-responsive {
  table {
    min-width: rem(800);
  }
}

.inline-button-group {
  display: flex;
  justify-content: center;
  border-radius: 0.5rem;
  overflow: hidden;
  margin: 0;
  padding: 0;
  @extend .shadow;

  li {
    padding: rem(16);
    list-style: none;
    background-color: var(--bs-white);

    &.active {
      background-color: var(--bs-purple);

      .normal-icon {
        display: none;
      }

      .active-icon {
        display: block;
      }
    }
  }

  .active-icon {
    display: none;
    margin: rem(2) 0;
  }

  .normal-icon {
    display: block;
    margin: rem(2) 0;
  }
}

.dot {
  width: rem(10);
  height: rem(10);
  display: inline-block;
  border-radius: 50%;
  margin-right: rem(16);

  .calender-input {
    position: relative;
  }
}

.calender-input > span {
  position: absolute;
  top: 50px;
  right: 20px;
}

.btn-tab {
  button {
    &.active {
      background-color: var(--bs-purple) !important;
      color: var(--bs-white);
      span {
        opacity: 1 !important;
      }
    }
  }
}

.btn-tab-content {
  display: none;
}

.no-background {
  background: none !important;
}

.no-shadow {
  box-shadow: none !important;
}
.table-user-avatar {
  width: 32px;
  height: 32px;
  img {
    width: 32px;
    height: 32px;
    object-fit: cover;
    object-position: center;
  }
}

.list-with-dot {
  li {
    .dot {
      flex: 0 0 0.625rem;
    }
  }
}
.two-col-video {
  display: flex;
  align-items: center;
  background: var(--bs-gray-900);
  border: 2px solid var(--bs-gray-900);
  color: var(--bs-white);
  border-radius: rem(8);
  overflow: hidden;
  font-weight: 400;
  margin: 0 0 rem(32);

  .video-wrapper {
    position: relative;
    padding: 35% 0 0 0;
    border-radius: rem(8);

    video {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }
  }

  .video-text {
    font-size: rem(20);
    padding: rem(16) rem(32);
  }
}

// notification

.notification-box-wrapper {
  .notification-box {
    .notification-row {
      .notification-action {
        span {
          flex: 0 0 70px;
          .form-check .form-check-input {
            margin-left: 0;
          }
        }
      }
    }
  }
}
.form-control {
  min-height: 56px;
}
.upload-photo-input {
  img {
    height: 120px;
    width: 120px;
    object-fit: cover;
    object-position: center;
  }
}

.form-switch {
  .form-check-input {
    border: 1px solid rgba(0, 0, 0, 0.25);
    &:checked {
      background-position: right center;
      background-repeat: no-repeat;
    }
  }
}

.your-policy-type-list {
  .policy-type-box {
    background-color: var(--bs-white);
    padding: 40px 30px;
    position: relative;
    .icon {
      position: absolute;
      top: 10px;
      right: 10px;
      cursor: pointer;
    }
    .icon-info-blue {
      display: inline-block;
    }
    .icon-info-white {
      display: none;
    }
    &.active {
      background: linear-gradient(224.01deg, #6e72ee -5.3%, #595ddc 100%);
      color: var(--bs-white);
      .icon-info-blue {
        display: none;
      }
      .icon-info-white {
        display: inline-block;
      }
    }
  }
}

.cursor-pointer {
  cursor: pointer;
}

// billing
.plans-tabs {
  .nav-item {
    flex-grow: 1;
    .nav-link {
      background-color: var(--bs-white);
      color: #0d2c36;
      text-align: center;
      position: relative;
      .icon {
        top: 5px;
        right: 5px;
        position: absolute;
      }
      &.active {
        background: linear-gradient(224.01deg, #6e72ee -5.3%, #595ddc 100%);
        color: var(--bs-white);
      }
      &:not(.active) {
        opacity: 1;
      }
    }
  }
}
