img {
  max-width: 100%;
}

.box-shadow {
  box-shadow: 0px 7px 12px rgb(0 0 0 / 10%);
}

.box-shadow-inner {
  box-shadow: 0px 7px 12px rgb(0 0 0 / 10%) inset;
}

.count {
  padding: 0 rem(15);
  font-weight: 500;
  font-size: rem(15);
  line-height: rem(30);
  text-align: center;
  color: #4E4E5C;
  border-radius: 50px;
  /*min-width: 40px;*/
  display: inline-block;
}

.count-grey {
  background: #D8DDDF;
}

.nav-circluar {
  border-bottom: none;
  .nav-link {
    border-radius: rem(50);
    padding: rem(5) rem(20);
    text-transform: none !important;
    font-size: rem(21);
    line-height: rem(30);
    font-weight: 400;

    &.active {
      background: linear-gradient(224.01deg, #6E72EE -5.3%, #595DDC 100%);
      color: var(--bs-white);
      
    }

    &:hover {
      border-color: transparent;
    }
  }
}

.letter-avatar {
  font-size: rem(30);
  line-height: rem(16);
  letter-spacing: 0.1px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: rem(50);
  height: rem(50);
  border-radius: 50%;
  color: var(--bs-white);
  background: #4E4E5C;
  text-transform: uppercase;
  margin: 0;
}

.notification-dot {
  top: 0;
  right: rem(24);
  width: rem(8);
  height: rem(8);
  border-radius: rem(15);
  background: var(--bs-red);
  position: absolute;
}

.vertical-scroll {
  overflow-y: auto;
  height: 590px;
}

.red-bg {
  background-color: var(--bs-red);
}

.blue-bg {
  background-color: var(--bs-blue);
}

.grey-bg {
  background-color: var(--bs-gray-light);
}

.purple-bg {
  background: var(--bs-purple);
}

.green-bg {
  background: var(--bs-green);
}

.white-bg {
  background: var(--bs-white);
}

.text-grey {
  color: #2E2E36;
}

.text-red {
  color: var(--bs-red);
}

.text-orange {
  color: var(--bs-orange);
}

.text-blue {
  color: var(--bs-blue);
}

.text-purple {
  color: var(--bs-purple);
}

.text-green {
  color: var(--bs-green);
}

.progress-red {
  background: var(--bs-red-rgba-100);
}

.progress-bar-red {
  background: var(--bs-red);
}

.progress-orange {
  background: var(--bs-orange-rgba-100);
}

.progress-bar-orange {
  background: var(--bs-orange);
}

.progress-bar-grey {
  background: #2E2E36;
}

.text-opacity-70 {
  opacity: 0.7;
}

.font-weight-700 {
  font-weight: 700;
}

.font-weight-600 {
  font-weight: 600;
}

.font-weight-500 {
  font-weight: 500;
}

.text-xl {
  font-weight: 400;
  font-size: 8rem;
  line-height: 0.8;
  letter-spacing: 0.08em;
}

.count-notification {
  background: linear-gradient(144.76deg, var(--bs-red) 9.17%, #E71894 92.89%);
  color: var(--bs-white);
  width: rem(14);
  height: rem(14);
  border-radius: 50%;
  font-size: rem(8);
  display: flex;
  justify-content: center;
  align-items: center;
  right: -16px;
  top: 0;
}

.small-tag {
  background: #3B95CD;
  color: var(--bs-white);
  border-radius: rem(7);
  padding: 0 7px;
  font-size: rem(11);
  line-height: rem(15);
  letter-spacing: -0.05px;
  display: block;
  max-width: 80px;
}

.circle {
  width: rem(20);
  height: rem(20);
  display: inline-block;
  vertical-align: middle;
}

.modal {
  .nav-link {
    padding: rem(16) rem(32);
    border: none;
    
    &.active {
      box-shadow: 0px 12px 30px rgba(0, 0, 0, 0.1);
    }
  }

  .tab-content {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    position: relative;

    table {
      td:first-child,
      th:first-child {
        padding-left: rem(26);
      }
    }
  }

  .nav-tabs {
    border-bottom: none;
  }

}

.list-table {
  li {

    div {
      width: 100%;
    }

    div:first-child {
      flex: 0 0 rem(64);
    }

    div:last-child {
      flex: 0 0 rem(140)
    }
  }
}

input:focus-visible {
  border: none !important;
  outline: none !important;
}

.filter-btn {
  background: var(--bs-white);
  font-weight: 600;
  @extend .box-shadow;
  &:hover {
    background: var(--bs-white);
  }
}

body *::-webkit-scrollbar {
  width: rem(2);
}
 
body *::-webkit-scrollbar-track {
  box-shadow: none;
  background-color: var(--bs-purple-light);
}
 
body *::-webkit-scrollbar-thumb {
  background-color: var(--bs-purple);
  outline: 1px solid var(--bs-tranparent);
}

form {
  h3 {
    font-weight: 700;
    font-size: rem(18);
    line-height: rem(20);
    letter-spacing: 0.04em;
    margin: rem(30) 0;
  }
}

.avatar {
  width: rem(28);
  height: rem(28);
  overflow: hidden;
  border-radius: 100%;
}

.radio-group {
  border-radius: rem(8);
  padding: rem(20);
  background: var(--bs-gray-200);
}

.form-check-inline label {
  position: relative;
  top: 5px;
}

.form-check .form-check-label.form-label {
  position: relative;
  top: 5px;
}

.radio-checkbox-group {
  .form-check {
    margin: rem(5) 0;
  }

  label {
    margin: 0;
    position: relative;
    top: 5px;
  }
}

.radio-checkbox-group-fixed {
  max-height: rem(274);
  overflow-x: auto;
  .form-check {
    width: 20%;
  }
}

.border-left {
  border-left: 1px solid rgba(13, 44, 54, 0.24);
}