.dataTables_wrapper {
    &>.row {
        &:last-child {
            justify-content: space-between;
            align-items: center;
        }
    }

    tbody {
        td {
            @extend .py-3;
            @extend .px-3;
            @extend .bg-transparent;
            font-weight: 500;
            line-height: rem(20);

            a {
                font-weight: 600;

                &:hover {
                    color: var(--bs-purple)
                }
            }
        }

        tr {
            @extend .bg-white;

            &:hover:not(.remove-hover) {
                @extend .bg-black-light;
            }
        }

        .nested-table {
            @extend .p-0;
        }
    }

    thead {
        th {
            @extend .py-4;
            @extend .px-3;
            @extend .bg-white;
            @extend .fs-7;
            font-weight: 700;
            line-height: rem(19);
        }
    }

    .dataTables_paginate {
        ul.pagination {
            margin: 0;
            justify-content: end;

            .paginate_button {
                &.next {
                    @extend .ms-4;

                    .page-link {
                        background: url(../../../dist/images/icons/icon-angle-right.svg) no-repeat center center;
                    }
                }

                &.previous {
                    .page-link {
                        background: url(../../../dist/images/icons/icon-angle-left.svg) no-repeat center center;
                    }
                }

                &.disabled {
                    a.page-link {
                        opacity: 0.5;
                    }
                }

                a.page-link {
                    border: none;
                    background: none;
                    padding: 0;
                    font-size: 0;
                    width: rem(9);
                    height: rem(12);

                    &:focus,
                    &:active {
                        outline: none;
                        box-shadow: none;
                    }
                }
            }
        }
    }

    .dataTable {
        margin: 0;

        thead {
            th.sorting {
                position: relative;

                &::after {
                    content: '';
                    background-image: url('../../../dist/images/icons/down-filter-arrow.svg');
                    background-repeat: no-repeat;
                    background-position: center center;
                    position: absolute;
                    width: rem(10);
                    height: 100%;
                    right: auto;
                    top: 0;
                    transition: all 0.3s ease-in;
                    margin-left: rem(10);
                }

                &.sorting_asc {
                    &::after {
                        transform: rotate(180deg);
                    }
                }

                &.sorting_desc {
                    &::after {
                        transform: rotate(0deg);
                    }
                }

                &.sorting-none {
                    @extend .border-start-0;

                    &:after {
                        content: none;
                    }
                }
            }


        }
    }
}

.dataTables_info {
    @extend .py-4;
    @extend .px-3;
    font-size: rem(14);
    font-weight: 400;
    line-height: rem(20);
    opacity: 0.5;
}

.dataTables_paginate {
    @extend .py-4;
    @extend .px-3;
}

table {
    tr[text-color="red"] {
        td {
            @extend .text-red;

            a {
                @extend .text-red;
            }

            .btn {
                @extend .red-bg;
                border-color: var(--bs-red);
            }
        }
    }

    &.table-nowrap {
        th {
            white-space: nowrap;
        }
    }

    .btn {
        font-size: rem(19);
        line-height: rem(20);
        font-weight: 500;
    }
}