.icon {
  width: 20px;
  height: 20px;
  display: inline-block;
  background-size: contain;
  vertical-align: middle;
  margin-right: 0.625rem;
  background-repeat: no-repeat;
  background-position: center;
}

.icon-lg {
  width: 30px;
  height: 30px;
}

.icon-xl {
  width: 37px;
  height: 37px;
}

.icon-circular {
  border-radius: 50%;
  overflow: hidden;
}

.icon-dashboard {
  background-image: url('../../../dist/images/icons/dashboard.svg');
}

.icon-dashboard-purple {
  background-image: url('../../../dist/images/icons/dashboard-purple.svg');
}

.icon-entities {
  background-image: url('../../../dist/images/icons/entities.svg');
}

.icon-entities-purple {
  background-image: url('../../../dist/images/icons/entities-purple.svg');
}

.icon-group {
  background-image: url('../../../dist/images/icons/group.svg');
}

.icon-group-purple {
  background-image: url('../../../dist/images/icons/group-purple.svg');
}

.icon-calender {
  background-image: url('../../../dist/images/icons/calender.svg');
}

.icon-calender-purple {
  background-image: url('../../../dist/images/icons/calender-purple.svg');
}

.icon-users-check {
  background-image: url('../../../dist/images/icons/user-check.svg');
}

.icon-users-check-purple {
  background-image: url('../../../dist/images/icons/user-check-purple.svg');
}

.icon-business {
  background-image: url('../../../dist/images/icons/business.svg');
}
  
.icon-business-purple {
  background-image: url('../../../dist/images/icons/business-purple.svg');
}

.icon-certificate-black {
  background-image: url('../../../dist/images/icons/certificate-black.svg');
}

.icon-certificate-purple {
  background-image: url('../../../dist/images/icons/certificate-purple.svg');
}

.icon-chart {
  background-image: url('../../../dist/images/icons/chart.svg');
}

.icon-chart-purple {
  background-image: url('../../../dist/images/icons/chart-purple.svg');
}

.icon-table {
  background-image: url('../../../dist/images/icons/table.svg');
}

.icon-table-purple {
  background-image: url('../../../dist/images/icons/table-purple.svg');
}

.icon-report {
  background-image: url('../../../dist/images/icons/report.svg');
}

.icon-report-purple {
  background-image: url('../../../dist/images/icons/report-purple.svg');
}

.icon-services {
  background-image: url('../../../dist/images/icons/services.svg');
}

.icon-services-purple {
  background-image: url('../../../dist/images/icons/services-purple.svg');
}


.icon-alert {
  background-image: url('../../../dist/images/icons/alert.svg');
}

.icon-help {
  background-image: url('../../../dist/images/icons/help.svg');
}

.icon-bell {
  background-image: url('../../../dist/images/icons/bell.svg');
}

.icon-bell-white {
  background-image: url('../../../dist/images/icons/bell-white.svg');
}

.icon-eye {
  background-image: url('../../../dist/images/icons/eye.svg');
}

.icon-notification {
  background-image: url('../../../dist/images/icons/notification.svg');
}

.icon-clock {
  background-image: url('../../../dist/images/icons/clock.svg');
}

.icon-upload-blue {
  background-image: url('../../../dist/images/icons/upload-blue.svg');
}

.icon-download-green {
  background-image: url('../../../dist/images/icons/download-green.svg');
}

.icon-blue-tick {
  background-image: url('../../../dist/images/icons/blue-tick.svg');
}

.icon-purple-tick {
  background-image: url('../../../dist/images/icons/purple-tick.svg');
}

.icon-green-tick {
  background-image: url('../../../dist/images/icons/green-tick.svg');
}

.icon-certificate {
  background-image: url('../../../dist/images/icons/certificate.svg');
}

.icon-green-dot {
  background-image: url('../../../dist/images/icons/green-dot.svg');
}

.icon-arrow-left-black {
  background-image: url('../../../dist/images/icons/arrow-left-black.svg');
}

.icon-arrow-right-black {
  background-image: url('../../../dist/images/icons/arrow-right-black.svg');
}

.icon-user {
  background-image: url('../../../dist/images/icons/user.svg');
}

.icon-logout {
  background-image: url('../../../dist/images/icons/logout.svg');
}

.icon-search-grey {
  background-image: url('../../../dist/images/icons/search-grey.svg');
}

.icon-arrow-right-white {
  background-image: url('../../../dist/images/icons/arrow-right-white.svg');
}

.icon-arrow-right {
  background-image: url('../../../dist/images/icons/arrow-right.svg');
}
