.icon {
  width: rem(20);
  height: rem(20);
  display: inline-block;
  background-size: contain;
  vertical-align: middle;
  margin-right: 0.625rem;
  background-repeat: no-repeat;
  background-position: center;

  &[data-toggle="tooltip"] {
    cursor: pointer;
  }
}

.icon-xs {
  width: rem(13);
  height: rem(13);
}

.icon-sm {
  width: rem(16);
  height: rem(16);
}

.icon-smd {
  width: rem(24);
  height: rem(24);
}

.icon-md {
  width: rem(26);
  height: rem(26);
}

.icon-lg {
  width: rem(30);
  height: rem(30);
}

.icon-xl {
  width: rem(37);
  height: rem(37);
}

.icon-xxl {
  width: rem(40);
  height: rem(40);
}

.icon-circular {
  border-radius: 50%;
  overflow: hidden;
}

.icon-dashboard {
  background-image: url("../../../dist/images/icons/dashboard.svg");
}

.icon-dashboard-purple {
  background-image: url("../../../dist/images/icons/dashboard-purple.svg");
}

.icon-entities {
  background-image: url("../../../dist/images/icons/entities.svg");
}

.icon-entities-purple {
  background-image: url("../../../dist/images/icons/entities-purple.svg");
}

.icon-group {
  background-image: url("../../../dist/images/icons/group.svg");
}

.icon-group-purple {
  background-image: url("../../../dist/images/icons/group-purple.svg");
}

.icon-calender {
  background-image: url("../../../dist/images/icons/calender.svg");
}

.icon-calender-purple {
  background-image: url("../../../dist/images/icons/calender-purple.svg");
}

.icon-users-check {
  background-image: url("../../../dist/images/icons/user-check.svg");
}

.icon-users-check-purple {
  background-image: url("../../../dist/images/icons/user-check-purple.svg");
}

.icon-business {
  background-image: url("../../../dist/images/icons/business.svg");
}

.icon-business-purple {
  background-image: url("../../../dist/images/icons/business-purple.svg");
}

.icon-certificate-black {
  background-image: url("../../../dist/images/icons/certificate-black.svg");
}

.icon-certificate-purple {
  background-image: url("../../../dist/images/icons/certificate-purple.svg");
}

.icon-chart {
  background-image: url("../../../dist/images/icons/chart.svg");
}

.icon-chart-purple {
  background-image: url("../../../dist/images/icons/chart-purple.svg");
}

.icon-table {
  background-image: url("../../../dist/images/icons/table.svg");
}

.icon-table-purple {
  background-image: url("../../../dist/images/icons/table-purple.svg");
}

.icon-report {
  background-image: url("../../../dist/images/icons/report.svg");
}

.icon-report-purple {
  background-image: url("../../../dist/images/icons/report-purple.svg");
}

.icon-services {
  background-image: url("../../../dist/images/icons/services.svg");
}

.icon-services-purple {
  background-image: url("../../../dist/images/icons/services-purple.svg");
}

.icon-alert {
  background-image: url("../../../dist/images/icons/alert.svg");
}

.icon-help {
  background-image: url("../../../dist/images/icons/help.svg");
}

.icon-eye {
  background-image: url("../../../dist/images/icons/eye.svg");
}

.icon-bell {
  background-image: url("../../../dist/images/icons/bell.svg");
}

.icon-bell-white {
  background-image: url("../../../dist/images/icons/bell-white.svg");
}

.icon-clock {
  background-image: url("../../../dist/images/icons/clock.svg");
}

.icon-upload-blue {
  background-image: url("../../../dist/images/icons/upload-blue.svg");
}

.icon-download-green {
  background-image: url("../../../dist/images/icons/download-green.svg");
}

.icon-white-tick {
  background-image: url("../../../dist/images/icons/white-tick.svg");
}

.icon-blue-tick {
  background-image: url("../../../dist/images/icons/blue-tick.svg");
}

.icon-purple-tick {
  background-image: url("../../../dist/images/icons/purple-tick.svg");
}

.icon-green-tick {
  background-image: url("../../../dist/images/icons/green-tick.svg");
}

.icon-certificate {
  background-image: url("../../../dist/images/icons/certificate.svg");
}

.icon-green-dot {
  background-image: url("../../../dist/images/icons/green-dot.svg");
}

.icon-arrow-left-black {
  background-image: url("../../../dist/images/icons/arrow-left-black.svg");
}

.icon-arrow-right-black {
  background-image: url("../../../dist/images/icons/arrow-right-black.svg");
}

.icon-user {
  background-image: url("../../../dist/images/icons/user.svg");
}

.icon-logout {
  background-image: url("../../../dist/images/icons/logout.svg");
}

.icon-search-grey {
  background-image: url("../../../dist/images/icons/search-grey.svg");
}

.icon-arrow-right-white {
  background-image: url("../../../dist/images/icons/arrow-right-white.svg");
}

.icon-arrow-right {
  background-image: url("../../../dist/images/icons/arrow-right.svg");
}

.icon-filter {
  background-image: url("../../../dist/images/icons/filter.svg");
}

.icon-filter-white {
  background-image: url("../../../dist/images/icons/filter-white.svg");
}

.icon-cart-white {
  background-image: url("../../../dist/images/icons/cart-white.svg");
}

.icon-bag-black {
  background-image: url("../../../dist/images/icons/bag-black.svg");
}

.icon-scale-white {
  background-image: url("../../../dist/images/icons/scales.svg");
}

.icon-document-black {
  background-image: url("../../../dist/images/icons/document-black.svg");
}

.icon-folder-black {
  background-image: url("../../../dist/images/icons/folder-black.svg");
}

.icon-folder-open-dark {
  background-image: url("../../../dist/images/icons/folder-open-dark.svg");
}

.icon-grid-view {
  background-image: url("../../../dist/images/icons/grid-view.svg");
}

.icon-grid-view-active {
  background-image: url("../../../dist/images/icons/grid-view-active.svg");
}

.icon-list-view {
  background-image: url("../../../dist/images/icons/list-view.svg");
}

.icon-list-view-white {
  background-image: url("../../../dist/images/icons/list-view-white.svg");
}

.icon-list-view-active {
  background-image: url("../../../dist/images/icons/list-view-active.svg");
}

.icon-folder-white {
  background-image: url("../../../dist/images/icons/icon-folder-white.svg");
}

.icon-card-white {
  background-image: url("../../../dist/images/icons/card-white.svg");
}

.icon-card-dark {
  background-image: url("../../../dist/images/icons/card-dark.svg");
}

.icon-user-with-laptop {
  background-image: url("../../../dist/images/icons/icon-user-with-laptop.svg");
}

.icon-user-with-laptop-white {
  background-image: url("../../../dist/images/icons/icon-user-with-laptop-white.svg");
}

.icon-delete {
  background-image: url("../../../dist/images/icons/delete-dark.svg");
}

.icon-delete-white {
  background-image: url("../../../dist/images/icons/delete-white.svg");
}

.icon-edit {
  background-image: url("../../../dist/images/icons/edit-dark.svg");
}

.icon-edit-white {
  background-image: url("../../../dist/images/icons/edit-white.svg");
}

.icon-cart-dark {
  background-image: url("../../../dist/images/icons/cart-dark.svg");
}

.icon-settings {
  background-image: url("../../../dist/images/icons/settings.svg");
}

.icon-multi-task {
  background-image: url("../../../dist/images/icons/multi-files.svg");
}

.icon-profile-white {
  background-image: url("../../../dist/images/icons/profile-white.svg");
}

.icon-task {
  background-image: url("../../../dist/images/icons/task.svg");
}

.icon-exclamation-white {
  background-image: url("../../../dist/images/icons/exclamation-white.svg");
}

.icon-download-dark {
  background-image: url("../../../dist/images/icons/download-dark.svg");
}

.icon-stop-green {
  background-image: url("../../../dist/images/icons/stop-green.svg");
}

.icon-stop-danger {
  background-image: url("../../../dist/images/icons/icon-stop-danger.svg");
}

.icon-stop-dark {
  background-image: url("../../../dist/images/icons/icon-stop-dark.svg");
}

.icon-folder-upload-purple {
  background-image: url("../../../dist/images/icons/folder-upload-purple.svg");
}

.icon-statement-purple {
  background-image: url("../../../dist/images/icons/statement-purple.svg");
}

.icon-money-purple {
  background-image: url("../../../dist/images/icons/money-purple.svg");
}

.icon-money-red {
  background-image: url("../../../dist/images/icons/money-red.svg");
}

.icon-calender-outline-white {
  background-image: url("../../../dist/images/icons/calender-outline-white.svg");
}

.icon-calender-outline-dark {
  background-image: url("../../../dist/images/icons/calender-outline-dark.svg");
}

.icon-pdf-black {
  background-image: url("../../../dist/images/icons/pdf-black.svg");
}

.icon-clipboard-white {
  background-image: url("../../../dist/images/icons/clipboard-white.svg");
}

.icon-user-white {
  background-image: url("../../../dist/images/icons/user-white.svg");
}

.icon-time {
  background-image: url("../../../dist/images/icons/icon-time.svg");
}

.icon-calender {
  background-image: url("../../../dist/images/icons/icon-calender.svg");
}

.icon-info {
  background-image: url("../../../dist/images/icons/icon-info.svg");
}

.icon-stop {
  background-image: url("../../../dist/images/icons/icon-stop.svg");
}

.icon-share-dark {
  background-image: url('../../../dist/images/icons/share-dark.svg');
}

.icon-link-dark {
  background-image: url('../../../dist/images/icons/link-dark.svg');
}

.icon-mail-filled-white {
  background-image: url('../../../dist/images/icons/mail-filled-white.svg');
}

.icon-bulb-dark {
  background-image: url('../../../dist/images/icons/bulb-dark.svg');
}

.icon-star-filled {
  background-image: url('../../../dist/images/icons/star-filled.svg');
}
.icon-close-red {
  background-image: url("../../../dist/images/icons/icon-close-red.svg");
}

.icon-invite-send {
  background-image: url("../../../dist/images/icons/icon-invite-send.svg");
}

.icon-stop-line {
  background-image: url("../../../dist/images/icons/icon-stop-line.svg");
}

.icon-back-arrow-white {
  background-image: url("../../../dist/images/icons/back-arrow-white.svg");
}


.icon-tick-dark {
  background-image: url("../../../dist/images/icons/dark-tick.svg");
}
.icon-waiting-blue  {
  background-image: url("../../../dist/images/icons/icon-waiting-blue.svg");
}
.icon-inactive-red {
  background-image: url("../../../dist/images/icons/icon-inactive-red.svg");
}
.icon-probhited-dark {
  background-image: url("../../../dist/images/icons/icon-probhited-dark.svg");
}
.icon-reload-dark {
  background-image: url("../../../dist/images/icons/icon-reload-dark.svg");
}

.icon-history-clock {
  background-image: url('../../../dist/images/icons/history-clock.svg');
}

.icon-download-secondry {
  background-image: url('../../../dist/images/icons/download-secondry.svg');
}

.icon-phone-white {
  background-image: url('../../../dist/images/icons/white-phone.svg');
}

.icon-info-white {
  background-image: url('../../../dist/images/icons/info-icon-white.svg');
}
.icon-info-blue {
  background-image: url('../../../dist/images/icons/info-icon-blue.svg');
}
.icon-right-angle {
  background-image: url('../../../dist/images/icons/right-angle.svg');
}

.icon-file-dark {
  background-image: url('../../../dist/images/icons/file-dark.svg');
}

.icon-arrow-triangle-left-purple {
  background-image: url('../../../dist/images/icons/arrow-triangle-left-purple.svg');
}

.icon-arrow-triangle-right-purple {
  background-image: url('../../../dist/images/icons/arrow-triangle-right-purple.svg');
}
