@import "_mixins.scss";
@import "_bootstrap.scss";
@import "_custom.scss";
@import "dashboard/dashboard";
@import "header/_header.scss";
@import "_icon.scss";
@import "login/_login.scss";
@import "sidebar/_sidebar.scss";
@import "entities/_entities.scss";
@import "comming-soon/commingSoon";
@import "additional-services/additional-services";
@import "_dataTable.scss";
@import "jquery-ui.scss";
@import "jquery-alerts.scss";
@import "media";
@import "_custom-select.scss";
@import "calender/calender";
@import "groups/_groups.scss";
@import "reports/_reports.scss";
@import "org-chart/_org-chart.scss";
@import "org-chart/_org-chart-skip.scss";
@import "org-chart/_org-chart-list.scss";
@import "_daterangepicker.scss";
@import "cta/_cta.scss";
@import "account/_billing.scss";
@import "onboarding-scss/entities/_entities.scss";
@import "onboarding-scss/sidenav/_sidenav.scss";

/* Components */
@import "components/steps";
@import "components/breadcrumb";
@import "components/_dragDropFile";
@import"components/modal";
@import"components/404-page";
