$color-gray-opacity: #DFDFDF99;

.invoices-dashboard {
    @extend .entityDetails-dashboard;

    .invoicesHistoryTable {
        .dataTables_wrapper .dataTable {

            th,
            td {

                &:nth-child(1),
                &:nth-child(2) {
                    min-width: 150px !important;
                }

                &:nth-child(3),
                &:nth-child(4),
                &:nth-child(7),
                &:nth-child(8) {
                    min-width: 60px !important;
                    width: 60px;
                }

                &:nth-child(6) {
                    min-width: 74px !important;
                    width: 74px;
                }

                &:last-child {
                    min-width: 105px !important;
                    width: 105px !important;
                }
            }
        }
    }

    .sidebar .menu-link .nav-link.active {
        background: linear-gradient(#DFDFDF99), #FAFAFA;

        a::after {
            background-color: #DFDFDF99;
        }
    }

    .invoicesPayHistoryTable {
        .dataTables_wrapper .dataTable {

            th,
            td {

                &:nth-child(1),
                &:nth-child(2) {
                    max-width: 90px !important;
                }

                &:nth-child(2) {
                    max-width: 100px !important;
                }

                &:nth-child(3) {
                    min-width: 150px !important;
                }

                &:nth-child(5),
                &:nth-child(6) {
                    min-width: 65px !important;
                    width: 65px;
                }


                &:nth-child(7),
                &:nth-child(8) {
                    min-width: 74px !important;
                    width: 74px;
                }

                &:last-child {
                    min-width: 105px !important;
                    width: 105px !important;
                }
            }
        }
    }
}