blockquote {

  .quote-section {
    position: relative;
    padding: rem(40);
    font-size: rem(26);
    line-height: rem(37);
  
    &:before {
      content: '';
      position: absolute;
      background: url('../images/blockquote-start.png') no-repeat center top;
      left: 0;
      top: 0;
      width: rem(35);
      height: rem(100);
    }

    &:after {
      content: '';
      position: absolute;
      background: url('../images/blockquote-end.png') no-repeat center bottom;
      right: 0;
      bottom:0;
      width: rem(35);
      height: rem(100)
    }
  }

  .quote-author {
    display: flex;
    margin: 0 rem(40);
    font-size: rem(21);
    line-height: rem(16);
    letter-spacing: 0.1px;

    img {
      margin: 0 rem(10) 0 0;
      border-radius: 50%;
      overflow: hidden;
      width: rem(50);
      height: rem(50);
    }
  }

  .author-company {
    display: block;
    letter-spacing: 0.1px;
    font-size: 16px;
    line-height: 16px;
    opacity: 0.5;
    margin: rem(10) 0 0;
  }
}