.sidebar {
    box-shadow: inset -1px 0 0 0 #aaa9a9 !important;
    border-right: unset !important;
}

.sidebar .menu-link .nav-link a {
    position: relative;
    border: 0;
}

.sidebar .menu-link .nav-link.active a {
    background: unset !important;
    box-shadow: unset !important;
    border: unset !important;
    border-right: unset !important;
}

.sidebar .menu-link .nav-link {
    right: unset !important;
}

.sidebar .menu-link .nav-link.active a {
    box-sizing: border-box !important;
    box-shadow:
        -1px 0 0 #aaa9a9,
        0 -1px 0 #aaa9a9,
        0 1px 0 #aaa9a9 !important;

    &::before,
    &::after {
        position: absolute !important;
        content: "" !important;
        top: -10px !important;
        bottom: -10px !important;
        height: inherit !important;
        width: 10px !important;
        right: 0px !important;
        background-color: var(--bs-purple-filejet) !important;
        background-image: none !important;
        transform: none !important;
    }
}

.sidebar .menu-link .nav-link.active.dark a {
    &::after {
        background-color: #DFDFDF99 !important;
    }
}

.sidebar .menu-link .nav-link {
    position: relative !important;
}

.sidebar .menu-link .nav-link.active {
    background: #FAFAFA !important;
    border-top-left-radius: 35px !important;
    border-bottom-left-radius: 35px !important;

    &.dark {
        background: linear-gradient(#DFDFDF99, #DFDFDF99), #FAFAFA !important;
    }

    &::before {
        content: "";
        position: absolute !important;
        height: 20px !important;
        width: 20px !important;
        bottom: -20px !important;
        right: 0px;
        background: var(--bs-white) !important;
        border-top-right-radius: 50% !important;
        box-shadow:
            inset -0.2px 1px 0px 0px #aaa9a9,
            inset -1px 0.2px 0px 0px #aaa9a9 !important;
        z-index: 1 !important;
    }

    &::after {
        content: "";
        position: absolute !important;
        height: 20px !important;
        width: 20px !important;
        top: -20px !important;
        right: 0px !important;
        background: var(--bs-white) !important;
        border-bottom-right-radius: 50% !important;
        box-shadow:
            inset -0.2px -1px 0px 0px #aaa9a9,
            inset -1px -0.2px 0px 0px #aaa9a9 !important;
        z-index: 1 !important;
    }
}